.BasicUI .appactionbutton_Green_3cI5T .appactionbutton_ButtonChild_2AzIX.Focusable:focus,
.BasicUI .appactionbutton_Green_3cI5T .appactionbutton_ButtonChild_2AzIX.Focusable:hover {
  background: var(--ctp-accent-color);
}
.basicgamecarousel_Play_12eKc .basicgamecarousel_ActionIcon_25Qbo {
  color: var(--ctp-accent-color);
}
._34o03-8cUc3fQX1u650c0L._2XVTVAadkIvrBujZYN5jbL._213PVSQTmHdo8SK-jkU-m_, ._34o03-8cUc3fQX1u650c0L._2XVTVAadkIvrBujZYN5jbL.Stream, ._34o03-8cUc3fQX1u650c0L._2XVTVAadkIvrBujZYN5jbL.Connect, ._34o03-8cUc3fQX1u650c0L._2XVTVAadkIvrBujZYN5jbL.Launch, ._34o03-8cUc3fQX1u650c0L._2XVTVAadkIvrBujZYN5jbL.PlayMusic, ._34o03-8cUc3fQX1u650c0L._2XVTVAadkIvrBujZYN5jbL.Play, ._34o03-8cUc3fQX1u650c0L._2XVTVAadkIvrBujZYN5jbL.Resume, ._34o03-8cUc3fQX1u650c0L._2XVTVAadkIvrBujZYN5jbL.BorrowApp {
  background: var(--ctp-accent-color);
  color: var(--ctp-base);
}
._34o03-8cUc3fQX1u650c0L._2XVTVAadkIvrBujZYN5jbL._2awU7ejQ3Qs_g0XnuSmgOP, ._34o03-8cUc3fQX1u650c0L._2XVTVAadkIvrBujZYN5jbL.Download, ._34o03-8cUc3fQX1u650c0L._2XVTVAadkIvrBujZYN5jbL.Update, ._34o03-8cUc3fQX1u650c0L._2XVTVAadkIvrBujZYN5jbL.PreLoad, ._34o03-8cUc3fQX1u650c0L._2XVTVAadkIvrBujZYN5jbL.Install, ._34o03-8cUc3fQX1u650c0L._2XVTVAadkIvrBujZYN5jbL.Pause {
  background: var(--ctp-accent-color);
  color: var(--ctp-base);
}
