:root {
  --ctp-text: var(--ctp-frappe-text);
  --ctp-subtext1: var(--ctp-frappe-subtext1);
  --ctp-subtext0: var(--ctp-frappe-subtext0);
  --ctp-base: var(--ctp-frappe-base);
  --ctp-mantle: var(--ctp-frappe-mantle);
  --ctp-crust: var(--ctp-frappe-crust);
  --ctp-surface0: var(--ctp-frappe-surface0);
  --ctp-overlay0: var(--ctp-frappe-overlay0);
  
  /* colors */
  --ctp-green: var(--ctp-frappe-green);
  --ctp-teal: var(--ctp-frappe-teal);
  --ctp-blue: var(--ctp-frappe-blue);
  --ctp-red: var(--ctp-frappe-red);
  --ctp-peach: var(--ctp-frappe-peach);
  --ctp-yellow: var(--ctp-frappe-yellow);
  --ctp-rosewater: var(--ctp-frappe-rosewater);
}
