:root {
  --ctp-text: var(--ctp-latte-text);
  --ctp-subtext1: var(--ctp-latte-subtext1);
  --ctp-subtext0: var(--ctp-latte-subtext0);
  --ctp-base: var(--ctp-latte-base);
  --ctp-mantle: var(--ctp-latte-mantle);
  --ctp-crust: var(--ctp-latte-crust);
  --ctp-surface0: var(--ctp-latte-surface0);
  --ctp-overlay0: var(--ctp-latte-overlay0);
  
  /* colors */
  --ctp-green: var(--ctp-latte-green);
  --ctp-teal: var(--ctp-latte-teal);
  --ctp-blue: var(--ctp-latte-blue);
  --ctp-red: var(--ctp-latte-red);
  --ctp-peach: var(--ctp-latte-peach);
  --ctp-yellow: var(--ctp-latte-yellow);
  --ctp-rosewater: var(--ctp-latte-rosewater);
}
