:root {
  /* Accents */
  --ctp-rosewater: #dc8a78;
  --ctp-flamingo: #dd7878;
  --ctp-pink: #ea76cb;
  --ctp-mauve: #8839ef;
  --ctp-red: #d20f39;
  --ctp-red-svg: brightness(0%) invert(18%) sepia(92%) saturate(5985%) hue-rotate(341deg) brightness(84%) contrast(96%);
  --ctp-maroon: #e64553;
  --ctp-peach: #fe640b;
  --ctp-peach-svg: brightness(0%) invert(43%) sepia(60%) saturate(2640%) hue-rotate(356deg) brightness(101%) contrast(99%);
  --ctp-yellow: #df8e1d;
  --ctp-green: #40a02b;
  --ctp-green-svg: brightness(0%) invert(55%) sepia(18%) saturate(7447%) hue-rotate(75deg) brightness(94%) contrast(66%);
  --ctp-teal: #179299;
  --ctp-sky: #04a5e5;
  --ctp-sapphire: #209fb5;
  --ctp-blue: #1e66f5;
  --ctp-blue-svg: brightness(0%) invert(31%) sepia(53%) saturate(4557%) hue-rotate(213deg) brightness(97%) contrast(97%);
  --ctp-lavender: #7287fd;

  /* Element Colors */
  --ctp-text: #4c4f69;
  --ctp-text-svg: brightness(0%) invert(31%) sepia(30%) saturate(403%) hue-rotate(196deg) brightness(92%) contrast(93%);
  --ctp-subtext1: #5c5f77;
  --ctp-subtext0: #6c6f85;
  --ctp-overlay2: #7c7f93;
  --ctp-overlay1: #8c8fa1;
  --ctp-overlay0: #9ca0b0;
  --ctp-surface2: #acb0be;
  --ctp-surface1: #bcc0cc;
  --ctp-surface0: #ccd0da;
  --ctp-base: #eff1f5;
  --ctp-base-svg: brightness(0%) invert(95%) sepia(20%) saturate(181%) hue-rotate(179deg) brightness(98%) contrast(96%);
  --ctp-mantle: #e6e9ef;
  --ctp-crust: #dce0e8;
}
