:root {
  /* Accents */
  --ctp-rosewater: #f5e0dc;
  --ctp-flamingo: #f2cdcd;
  --ctp-pink: #f5c2e7;
  --ctp-mauve: #cba6f7;
  --ctp-red: #f38ba8;
  --ctp-red-filter: brightness(0%) invert(64%) sepia(23%) saturate(1155%) hue-rotate(300deg) brightness(106%) contrast(91%);
  --ctp-maroon: #eba0ac;
  --ctp-peach: #fab387;
  --ctp-peach-filter: brightness(0%) invert(75%) sepia(41%) saturate(614%) hue-rotate(323deg) brightness(103%) contrast(96%);
  --ctp-yellow: #f9e2af;
  --ctp-green: #a6e3a1;
  --ctp-green-filter: brightness(0%) invert(91%) sepia(17%) saturate(774%) hue-rotate(56deg) brightness(94%) contrast(89%);
  --ctp-teal: #94e2d5;
  --ctp-sky: #89dceb;
  --ctp-sapphire: #74c7ec;
  --ctp-blue: #89b4fa;
  --ctp-blue-filter: brightness(0%) invert(73%) sepia(63%) saturate(2204%) hue-rotate(187deg) brightness(102%) contrast(96%);
  --ctp-lavender: #b4befe;

  /* Element Colors */
  --ctp-text: #cdd6f4;
  --ctp-text-filter: brightness(0%) invert(84%) sepia(8%) saturate(701%) hue-rotate(190deg) brightness(102%) contrast(91%);
  --ctp-subtext1: #bac2de;
  --ctp-subtext0: #a6adc8;
  --ctp-overlay2: #9399b2;
  --ctp-overlay1: #7f849c;
  --ctp-overlay0: #6c7086;
  --ctp-surface2: #585b70;
  --ctp-surface1: #45475a;
  --ctp-surface0: #313244;
  --ctp-base: #1e1e2e;
  --ctp-base-filter: brightness(0%) invert(9%) sepia(18%) saturate(1396%) hue-rotate(201deg) brightness(95%) contrast(91%);
  --ctp-base-rgb: 30, 30, 46;
  --ctp-mantle: #181825;
  --ctp-crust: #11111b;    
}
