/* HLTB Integration */
.hltb-info {
    background-color: var(--ctp-base);
    border-color: var(--ctp-surface0);
}
.hltb-gametime {
    color: var(--ctp-text);
}
.hltb-label {
    color: var(--ctp-subtext0);
}
.hltb-details-btn.DialogButton._DialogLayout.Primary.gamepaddialog_Button_1kn70.Focusable {
    color: var(--ctp-text) !important;
}
.hltb-details-btn.DialogButton._DialogLayout.Primary.gamepaddialog_Button_1kn70.Focusable.gpfocuswithin {
    color: var(--ctp-base) !important;
}