---
whiskers:
    version: 2.5.1
    matrix:
        - flavor
    filename: "src/flavors/{{ flavor.identifier }}.css"
---
:root {
{%- for id, color in flavor.colors %}
  --ctp-{{ id }}: #{{ color.hex }};
{%- endfor %}
}
