/* Keyboard keys */
.DefaultTheme.virtualkeyboard_Keyboard_45rH7 {
    --background-color: var(--ctp-base) !important;
}
.DefaultTheme .virtualkeyboard_KeyboardKey_2KhPX.virtualkeyboard_Touched_3UFQq {
    background-color: var(--ctp-accent-color) !important;
}
.DefaultTheme .virtualkeyboard_KeyboardExtendedKey_394j7 {
    --key-extendedkey-background-color: var(--ctp-accent-color) !important;
    --key-extendedkey-focused-background-color: var(--ctp-accent-color) !important;
}
.DefaultTheme .virtualkeyboard_KeyboardKey_2KhPX {
    --key-background-color: var(--ctp-surface1) !important;
    --key-focused-background-color: var(--ctp-accent-color) !important;
    --key-spacebar-background-color: var(--ctp-surface0) !important;
    --key-caps-background-color: var(--ctp-surface0) !important;
    --key-shift-background-color: var(--ctp-surface0) !important;
    --key-tab-background-color: var(--ctp-surface0) !important;
    --key-enter-background-color: var(--ctp-surface0) !important;
    --key-backspace-background-color: var(--ctp-surface0) !important;
    --key-meta-background-color: var(--ctp-surface0) !important;
}

/* Key Letter Colours */
.DefaultTheme {
    --key-color: var(--ctp-text);
    --key-focused-color: var(--ctp-base);
    --key-meta-color: var(--ctp-text);
    --key-tab-color: var(--ctp-text);
    --key-caps-color: var(--ctp-text);
    --key-shift-color: var(--ctp-text);
    --key-enter-color: var(--ctp-text);
    --key-backspace-color: var(--ctp-text);
    --key-spacebar-color: var(--ctp-text);
    --key-extendedkey-color: var(--ctp-text);
    --key-extendedkey-focused-color: var(--ctp-text);
    --key-extendedkey-hover-color: var(--ctp-text);
    --key-toggleon-color: var(--ctp-text);
    --key-toggleoneshot-color: var(--ctp-text);
    --key-toggleon-background-color: var(--ctp-accent-color);
    --key-touched-color: var(--ctp-text);
    --key-pointer-background-color: var(--ctp-accent-colour);
    --key-focused-action-button-left-color: var(--ctp-base);
    --key-focused-action-button-right-color: var(--ctp-base);
    --key-enter-action-button-glyph-color: var(--ctp-base);
    --key-action-button-glyph-color: var(--ctp-text);
}

/* Keyboard Symbols when hovered */
.DefaultTheme .virtualkeyboard_KeyboardKey_2KhPX.virtualkeyboard_ToggleOn_3Qrs- img {
    filter: var(--ctp-base-svg) !important;
}

/* Emoji Keyboard L1 and L2 symbols */
.DefaultTheme .virtualkeyboard_KeyboardEmojiHeader_Qihxj img {
    filter: var(--ctp-base-svg);
}

/* Selected keyboard glyph */
._2KhPXikozxMpbIRo_6jPxW._21EoN2ZlmHNY3fjho_HMae img
{
    filter: var(--ctp-base-svg);
}
