/*
HOME PAGE
*/

/* header art filter */
.gamepadhomerecentgames_RecentGamesBackground_1SRox {}

/* hovered game glow */
.gpfocuswithin ~ .basicgamecarousel_CarouselCapsuleBackgroundGlow_1H3Kf,
:hover ~ .basicgamecarousel_CarouselCapsuleBackgroundGlow_1H3Kf {
  opacity: 0.5;
}
.BasicUI .appportrait_FriendsBar_3dncO.appportrait_IconsView_1WWmQ {
  bottom: -40px;
}
.basicgamecarousel_SubMessage_1BtXg.basicgamecarousel_FriendsInGame_3z5U1 {
  color: var(--ctp-green);
}

/* home backgrounds */
.gamepadui_BasicHome_3LYP1.gamepadui_OpaqueBackground_b084m {
  background: var(--ctp-base);
}
.gamepadhome_TabbedContent_cE1Sa {
  background: var(--ctp-base);
}
.gamepadhomerecentgames_RecentGamesBackgroundFadeGradient_1ksIq {
  background: none;
}
.BasicUI .appdetailscommunityfeed_CommunityItem_3QS6O {
  background: var(--ctp-surface0)
}
.BasicUI .appdetailscommunityfeed_Title_2xEgU {
  color: var(--ctp-text);
}

/* badges */
.deckverified_Verified_2NlWs,
.shared_svg_library_SteamDeckCompatVerified_3mvZq {
  color: var(--ctp-green);
}
.shared_svg_library_SteamDeckCompatPlayable_S7BDm {
  color: var(--ctp-peach);
}
.shared_svg_library_SteamDeckCompatUnsupported_1SeOP, .shared_svg_library_SteamDeckCompatUnknown_15dEs {
  color: var(--ctp-red);
}
.basicgamecarousel_Play_12eKc .basicgamecarousel_ActionIcon_25Qbo {
  color: var(--ctp-green);
}
.appdetailsfriendssection_FriendsPlayingNowBadge_38sNQ.appdetailsfriendssection_InFriendsTab_15Vpl {
  color: var(--ctp-base);
}
.appdetailsfriendssection_FriendsPlayingNowBadge_38sNQ.appdetailsfriendssection_InFriendsTab_15Vpl.appdetailsfriendssection_TabSelected_mHKj- {
  background-color: var(--ctp-green);
  color: var(--ctp-base);
}
.gamepadtabbedpage_Tab_3eEbS.gpfocus {
  background-color: var(--ctp-accent-color);
  color: var(--ctp-base) !important;
}
.gamepadtabbedpage_Tab_3eEbS {
  color: var(--ctp-text);
}
.gamepadtabbedpage_Selected_3Gp1b {
  background-color: var(--ctp-overlay0);
  color: var(--ctp-text) !important;
}

/* whats new */
.gamepadhomewhatsnew_EventInfo_6TGe7 {
  background: var(--ctp-surface0);
}
.recentlycompleted_RecentlyCompletedItem_3OC7i {
  background: var(--ctp-crust);
}
.recentlycompleted_BottomSection_3LyF6 {
  background: var(--ctp-mantle);
}
.gamecapsule_InLibrary_fyHna {
  background: var(--ctp-blue);
}
.gamecapsule_GameCapsule_fXdhj .gamecapsule_BottomBar_3-GyQ {
  background-color: var(--ctp-surface0);
}

/*
TOP BAR
*/
.searchbar_SearchBox_2a1-s,
.searchbar_SearchContainer_161Tj .searchbar_SearchIconRight_1Ka4T,
.header_Clock_1HhLU,
.BasicUI .header_Header_1E_SL {
  color: var(--ctp-text);
}

.header_HeaderDownloadContainer_2ssr3 .header_HeaderAppPortraitContainer_1PbL3 .header_HeaderDownloadProgressBarBackground_vo3Tt .header_HeaderDownloadProgressBar_AK_Ax {
  background-color: var(--ctp-blue);
}
.header_Header_1E_SL::before {
  background: var(--ctp-crust);
}
.mainbrowser_URLBar_1CwIx .mainbrowser_URL_2aM-J {
  background: var(--ctp-crust);
}

/* online status */
.online .personanameandstatus_richPresenceLabel_1k82N.GamepadMode, 
.GamepadMode .online .personanameandstatus_richPresenceLabel_1k82N,
.online .personanameandstatus_gameName_2wpap.personanameandstatus_richPresenceLabel_1k82N a.GamepadMode,
.GamepadMode .online .personanameandstatus_gameName_2wpap.personanameandstatus_richPresenceLabel_1k82N a,
.online .personanameandstatus_gameName_2wpap.personanameandstatus_richPresenceLabel_1k82N a:hover.GamepadMode,
.GamepadMode .online .personanameandstatus_gameName_2wpap.personanameandstatus_richPresenceLabel_1k82N a:hover,
.online .personanameandstatus_gameName_2wpap.personanameandstatus_richPresenceLabel_1k82N a:active.GamepadMode,
.GamepadMode .online .personanameandstatus_gameName_2wpap.personanameandstatus_richPresenceLabel_1k82N a:active,
.online .personanameandstatus_gameName_2wpap.personanameandstatus_richPresenceLabel_1k82N a:visited.GamepadMode,
.GamepadMode .online .personanameandstatus_gameName_2wpap.personanameandstatus_richPresenceLabel_1k82N a:visited {
  color: var(--ctp-green);          
}
.awayOrSnooze.online .personanameandstatus_richPresenceLabel_1k82N.GamepadMode, .GamepadMode .awayOrSnooze.online .personanameandstatus_richPresenceLabel_1k82N, .awayOrSnooze.online .personanameandstatus_gameName_2wpap.personanameandstatus_richPresenceLabel_1k82N a.GamepadMode, .GamepadMode .awayOrSnooze.online .personanameandstatus_gameName_2wpap.personanameandstatus_richPresenceLabel_1k82N a, .awayOrSnooze.online .personanameandstatus_gameName_2wpap.personanameandstatus_richPresenceLabel_1k82N a:hover.GamepadMode, .GamepadMode .awayOrSnooze.online .personanameandstatus_gameName_2wpap.personanameandstatus_richPresenceLabel_1k82N a:hover, .awayOrSnooze.online .personanameandstatus_gameName_2wpap.personanameandstatus_richPresenceLabel_1k82N a:active.GamepadMode, .GamepadMode .awayOrSnooze.online .personanameandstatus_gameName_2wpap.personanameandstatus_richPresenceLabel_1k82N a:active, .awayOrSnooze.online .personanameandstatus_gameName_2wpap.personanameandstatus_richPresenceLabel_1k82N a:visited.GamepadMode, .GamepadMode .awayOrSnooze.online .personanameandstatus_gameName_2wpap.personanameandstatus_richPresenceLabel_1k82N a:visited {
  color: var(--ctp-blue);
}
.online .steamavatar_avatarStatus_1yIzy.GamepadMode, .GamepadMode .online .steamavatar_avatarStatus_1yIzy {
  background: var(--ctp-accent-color); 
}
.ingame .steamavatar_avatarStatus_1yIzy.GamepadMode, .GamepadMode .ingame .steamavatar_avatarStatus_1yIzy {
  background: var(--ctp-green);
}
.ingame .personanameandstatus_gameName_2wpap.personanameandstatus_richPresenceLabel_1k82N.GamepadMode, 
.GamepadMode .ingame .personanameandstatus_gameName_2wpap.personanameandstatus_richPresenceLabel_1k82N, 
.ingame .personanameandstatus_gameName_2wpap.personanameandstatus_richPresenceLabel_1k82N a.GamepadMode, 
.GamepadMode .ingame .personanameandstatus_gameName_2wpap.personanameandstatus_richPresenceLabel_1k82N a, 
.ingame .personanameandstatus_gameName_2wpap.personanameandstatus_richPresenceLabel_1k82N a:hover.GamepadMode, 
.GamepadMode .ingame .personanameandstatus_gameName_2wpap.personanameandstatus_richPresenceLabel_1k82N a:hover, 
.ingame .personanameandstatus_gameName_2wpap.personanameandstatus_richPresenceLabel_1k82N a:active.GamepadMode, 
.GamepadMode .ingame .personanameandstatus_gameName_2wpap.personanameandstatus_richPresenceLabel_1k82N a:active, 
.ingame .personanameandstatus_gameName_2wpap.personanameandstatus_richPresenceLabel_1k82N a:visited.GamepadMode, 
.GamepadMode .ingame .personanameandstatus_gameName_2wpap.personanameandstatus_richPresenceLabel_1k82N a:visited, 
.ingame.personanameandstatus_twoLine_27M2G .personanameandstatus_richPresenceLabel_1k82N.GamepadMode, 
.GamepadMode .ingame.personanameandstatus_twoLine_27M2G .personanameandstatus_richPresenceLabel_1k82N {
  color: var(--ctp-green);
}

/* battery */
.header_BatteryIcon_1_6kL svg svg rect,
.quickaccesscontrols_BatteryIcon_39aNh svg svg rect {
  fill: var(--ctp-green);
  color: var(--ctp-base);
}
.header_HeaderItem_2HnVd.header_BatteryIcon_1_6kL {
  color: var(--ctp-text);
}

/*
LIBRARY
*/

.gamepadlibrary_GamepadLibrary_ZBBhe {
  background: var(--ctp-base);
}
.steamdeckcompatfilter_CompatFilterDialog_21qvB {
  background: var(--ctp-base);
}
.allcollections_Collection_3IWn- {
  background: var(--ctp-base);
}
 .gamepadtabbedpage_Tab_3eEbS.gpfocus .gamepadtabbedpage_TabCount_1ui4I {
  color: var(--ctp-base);
}
.gamepadtabbedpage_TabCount_1ui4I {
  color: var(--ctp-text);
}
.BasicUI .appdetailsplaysection_MenuButton_3qDWQ.Focusable:focus,
.appactionbutton_ShutdownAppButton_1WVYD.gpfocus {
  background-color: var(--ctp-accent-color);
  color: var(--ctp-base);
}

/*
GAME DETAILS
*/

.basicappdetailssectionstyler_AppDetailsRoot_3fp5y {
  background: var(--ctp-base) !important;
}
.BasicUI .appdetailsplaysection_PlayBarDetailLabel_2TYVG,
.BasicUI .appdetailsplaysection_LastPlayed_3pS8k .appdetailsplaysection_LastPlayedInfo_1nfJN,
.BasicUI .appdetailssectionheader_Label_1SQ30 .appdetailssectionheader_LabelText_3i0ko {
  color: var(--ctp-text);
}
.BasicUI .appdetailsplaysection_PlayBarLabel_34lrt {
  color: var(--ctp-subtext1);
}
.DeckVerifiedModalDialogClient .DialogContent,
.DeckVerifiedModalDialog .DialogContent {
  background: var(--ctp-base);
}
.BasicUI .appactionbutton_Green_3cI5T .appactionbutton_ButtonChild_2AzIX.Focusable:focus,
.BasicUI .appactionbutton_Green_3cI5T .appactionbutton_ButtonChild_2AzIX.Focusable:hover {
  background: var(--ctp-green);
  color: var(--ctp-base);  
}
.BasicUI .appactionbutton_Green_3cI5T .appactionbutton_ButtonChild_2AzIX.Focusable:focus .appactionbutton_ButtonText_33cnX,
.BasicUI .appactionbutton_Green_3cI5T .appactionbutton_ButtonChild_2AzIX.Focusable:hover .appactionbutton_ButtonText_33cnX {
  color: var(--ctp-base);
}
.BasicUI .appactionbutton_Green_3cI5T .appactionbutton_ButtonChild_2AzIX {
  background: var(--ctp-overlay0);
}
.BasicUI .appactionbutton_ButtonChild_2AzIX.Focusable:focus {
  background: var(--ctp-blue);
  color: var(--ctp-base);
}
.BasicUI .appactionbutton_ButtonChild_2AzIX.Focusable:focus .appactionbutton_ButtonText_33cnX {
  color: var(--ctp-base);
}
.appdetailsfriendssection_FriendsPlayingNowBadge_38sNQ {
  background: var(--ctp-green) !important;
  color: var(--ctp-base);
}
.appdetailsfriendssection_FriendsSectionPlayingNow_fPAoc .appdetailsfriendssection_PlayingNowBody_17fER {
  background: var(--ctp-surface0);
}
.BasicUI .appdetailsplaysection_DetailsProgressContainer_25YVD .appdetailsplaysection_DetailsProgressBar_1FnTq {
  background: var(--ctp-blue);
}
.BasicUI .spotlightgameplaysummary_SummaryCarouselContainer_wgbDI {
  background: var(--ctp-surface0);
}
.BasicUI .appactivityday_Event_UVeN0 .appactivityday_EventHeadline_QCKBq {
  background: var(--ctp-mantle);
  color: var(--ctp-subtext0);
}
.appactivityday_Event_UVeN0 .appactivityday_EventHeadline_QCKBq a:-webkit-any-link {
  color: var(--ctp-subtext1);
}
.appactivityday_Event_UVeN0 .appactivityday_EventHeadline_QCKBq .appactivityday_HeadlineGameName_Gy1Y7 {
  color: var(--ctp-rosewater);
}
.appdetailsgameinfopanel_DeckVerifiedInfo_IIJei {
  background: var(--ctp-surface0);  
}
.appdetailsgameinfopanel_DeckVerifiedInfo_IIJei .appdetailsgameinfopanel_Details_3sfpA {
  background: var(--ctp-overlay0);
}
.BasicUI .appdetailsprimarylinkssection_Anchor_DY4_w {
  background: var(--ctp-overlay0);
}
.BasicUI .appdetailssection_Highlight_38t1m {
  background: var(--ctp-mantle);
}
.BasicUI .appdetailsachievementssection_AchievementProgressContainer_3ns91 {
  background: var(--ctp-crust);
}
.BasicUI .appdetailsachievementssection_AchievementProgressContainer_3ns91 .appdetailsachievementssection_AchievementProgress_3Rm36 {
  background: var(--ctp-blue);
}
.appdetailsachievementssection_AchievementCarouselItem_mbFSn.appdetailsachievementssection_Detailed_3KGi6 {
  background: var(--ctp-overlay0);
}
.BasicUI .appdetailssection_AppDetailsSectionContainer_31ptF.appdetailssection_RightColumnSection_3KfxI {
  background: var(--ctp-surface0);
}
.BasicUI .appactivityday_Event_UVeN0 .appactivityday_EventBody_NEMXh {
  background: var(--ctp-surface0);
}
.appactivityday_PartnerEventMediumImage_Container_1HZy7 {
  background: var(--ctp-surface0);
}
.BasicUI .posttextentry_PostTextEntry_3x31A .posttextentry_PostTextEntryArea_1JlC2 {
  background: var(--ctp-overlay0);
  color: var(--ctp-base);
}

button.gamepaddialog_Button_1kn70.DialogButton.gpfocus.Primary,
button.gamepaddialog_Button_1kn70.DialogButton:active.Primary,
button.gamepaddialog_Button_1kn70.DialogButton:enabled.gpfocus.Primary,
button.gamepaddialog_Button_1kn70.DialogButton:enabled:active.Primary,
button.gamepaddialog_Button_1kn70.DialogButton:active.gpfocus.Primary,
button.gamepaddialog_Button_1kn70.DialogButton:active:active.Primary,
button.gamepaddialog_Button_1kn70.DialogButton:hover.gpfocus.Primary,
button.gamepaddialog_Button_1kn70.DialogButton:hover:active.Primary,
button.gamepaddialog_Button_1kn70.DialogButton:enabled:active:hover.gpfocus.Primary,
button.gamepaddialog_Button_1kn70.DialogButton:enabled:active:hover:active.Primary {
  background: var(--ctp-blue);
  color: var(--ctp-base);
}

/* protondb */
.protondb-decky-indicator {
  border-radius: 3px;
  color: var(--ctp-base) !important;
}
.protondb-decky-indicator-gold {
  background: var(--ctp-yellow) !important;
}
.protondb-decky-indicator-borked {
  background: var(--ctp-red) !important;
}

/* 
STEAM INPUT
*/

.controllerconfiguratorchoosebinding_TriggerButton_2MjBd.gpfocus,
.controllerconfiguratorchoosebinding_BumperButton_2swvc.gpfocus {
  filter: drop-shadow(0px 0px 10px var(--catppuccin-button-glow));
}
.controllerconfiguratorchoosebinding_SelectButton_3i-XV.gpfocus,
.controllerconfiguratorchoosebinding_StartButton_3s28A.gpfocus {
  filter: drop-shadow(0px 0px 10px var(--catppuccin-button-glow));
}
.controllerconfiguratorchoosebinding_MouseKey_19SMS.gpfocus {
  filter: drop-shadow(0px 0px 10px var(--catppuccin-button-glow));
}
.controllerconfiguratorchoosebinding_KeyboardKey_NoRFS.gpfocus {
  filter: drop-shadow(0px 0px 10px var(--catppuccin-button-glow));
}
.controllerconfiguratorchoosebinding_ControllerActionKey_3yP_p.gpfocus {
  filter: drop-shadow(0px 0px 10px var(--catppuccin-button-glow));
}
.controllerconfiguratorchoosebinding_ControllerActionKey_3yP_p.gpfocus {
  filter: drop-shadow(0px 0px 10px var(--catppuccin-button-glow));
}

.controllerconfigurator_TopSection_20sN9 {
  background: var(--ctp-base);
}
.controllerconfigurator_ControllerConfiguratorMain_APY6j {
  background: var(--ctp-base);
}
.controllerconfigurator_BottomSection_3RsRf {
  background: var(--ctp-base);
}
.gamepadpagedsettings_PagedSettingDialog_ContentColumn_3JPle {
  background: var(--ctp-base);
}
.gamepadpagedsettings_PagedSettingsDialog_PageListColumn_2EZ3o {
  background: var(--ctp-base);
}
.gamepadpage_GamepadPage_2FqpD.gamepadpage_DialogBackground_2msTK {
  background: var(--ctp-base);
}
.controllerconfigurator_interstitial_ConfiguratorInterstitialContainer_3FS5u {
  background: var(--ctp-base);
}
.controllerconfiguratorsummary_ControllerConfiguratorSummary_3TvBV {
  background: var(--ctp-base);
}

/* 
FRIENDS & CHAT
*/

/* Get rid of glow */
.SteamDeckChats.gpfocuswithin .chattabs_ChatTab_1WfqA {
  box-shadow: none;
}
.GamepadMode.friendlist.gpfocuswithin .FriendsListSteamDeckTopSection {
  background: var(--ctp-base);
}
.GamepadMode.friendlist {
  background-color: var(--ctp-base);
  background: var(--ctp-base);
}
.GamepadMode.friendlist.gpfocuswithin {
  background-color: var(--ctp-base);
  background: var(--ctp-base);
}
.multiChatDialog.GamepadMode,
.GamepadMode .multiChatDialog {
  background: var(--ctp-base);
}
.multiChatDialog.GamepadMode.gpfocuswithin,
.GamepadMode .multiChatDialog.gpfocuswithin {
  background-color: var(--ctp-base);
  background: var(--ctp-base);
}

/*
DOWNLOADS
*/
.downloads_Active_IbePL.gpfocuswithin .downloads_SectionList_OINnO,
.downloads_Active_IbePL .downloads_SectionList_OINnO:hover {
  background: var(--ctp-surface0);
}
.downloadgraph_HeroAndLogo_3mZ2r
  .downloadgraph_HeroContainer_3WauY
  .downloadgraph_HeroGradient_edQzw {
  background: none;
}
/* Turn backgrounds black */
.downloads_DownloadsPage_1bq4x {
  background: var(--ctp-base);
}
.downloadgraph_HeroAndLogo_3mZ2r.downloadgraph_Empty_pHDI1 {
  background: var(--ctp-base);
}
.downloadgraph_GraphAndStats_3KDkL {
  background: var(--ctp-base);
}
.BasicUI .libraryassetimage_GreyBackground_2E7G8 {
  background: var(--ctp-base);
}
.downloads_SectionItem_1VNuY.downloads_Active_IbePL {
  background: var(--ctp-base);
}
.downloadgraph_DownloadGraph_1BxZD .downloadgraph_GraphLine_3H2JW {
  stroke: var(--ctp-green);
}
.downloadgraph_DownloadGraph_1BxZD .downloadgraph_DiskPoint_10Cul,
.downloadgraph_DownloadGraphLegend_hGZq4 .downloadgraph_Disk_1QHr4 {
  background-color: var(--ctp-green);
}
.downloadgraph_DownloadGraph_1BxZD .downloadgraph_GraphBarDownload_OS07N,
.downloadgraph_DownloadGraph_1BxZD .downloadgraph_GraphBarWrapper_gpPxC,
.downloadgraph_DownloadGraphLegend_hGZq4 .downloadgraph_Network_33jqE svg {
  color: var(--ctp-blue);
}
.downloads_TopBar_SEmVp {
  background: var(--ctp-blue);
}
.downloads_SectionItemWrapper_21P7c.gpfocus .downloads_SectionItem_1VNuY .downloads_Button_3oavR.DialogButton:enabled svg {
  color: var(--ctp-text);
}
.downloads_SectionItemWrapper_21P7c .Panel .Focusable .gpfocus .gpfocuswithin {
  background-color: var(--ctp-surface0);
}

/*
SETTINGS
*/

.BasicUI .librarysettings_LibrarySettings_2nsOY {
  background: var(--ctp-base);
}
.BasicUI .contentmanagement_ContentManagement_3wk64 {
  background: var(--ctp-base);
}
.customizationsettings_Checkmark_2XRQA,
.networksettings_Checkmark_x5D0R {
  color: var(--ctp-green);
}
.gamepadslider_SliderTrack_Mq25N {
  --left-track-color: var(--ctp-accent-color);
}
.gamepaddialog_ToggleRail_2JtC3 {
  background: var(--ctp-surface0) !important;
}
.gamepadslider_SliderTrack_Mq25N, .gamepadslider_SliderNotchTick_Fv1Ht {
  background-color: var(--ctp-mantle);
}
.gamepadslider_SliderNotchTick_Fv1Ht.gamepadslider_TickActive_1gnUV {
  background: var(--ctp-accent-color) !important;
}
.gamepadslider_SliderNotchLabel_u_sH1 {
  color: var(--ctp-subtext1);
}

/*
QUICK ACCESS
*/
.quickaccessmenu_HeaderContainer_3k5MH,
.footer_BasicFooter_3T1iF.footer_QuickAccessFooter_VdbQ_ {
  background: var(--ctp-crust);
}
.quickaccessmenu_Tabs_3Ag1w {
  background: var(--ctp-mantle);
  color: var(--ctp-subtext0);
}
.quickaccessmenu_HeaderAndFooterVisible_2m0zl .quickaccessmenu_Menu_1gJzx::before,
.quickaccessmenu_Tabs_3Ag1w::after,
.quickaccessmenu_QuickAccessMenu_V0cr- {
  background: var(--ctp-base);
}
.quickaccessmenu_Tab_1S76C {
  background-color: var(--ctp-mantle);
  color: var(--ctp-subtext0);
}
.quickaccessmenu_KeyboardButton_1RN_U {
  border: none;
}
.quickaccessmenu_Title_34nl5 {
  background: var(--ctp-base);
  color: var(--ctp-text);
  box-shadow: none;
}
.GamepadMode.friendlist {
  background: var(--ctp-base);
}
.GamepadMode.friendlist .FriendsListSteamDeckTabs {
  background-color: var(--ctp-base);
}
.ingame.awayOrSnooze .personanameandstatus_richPresenceLabel_1k82N.GamepadMode,
.GamepadMode .ingame.awayOrSnooze .personanameandstatus_richPresenceLabel_1k82N,
.ingame .personanameandstatus_richPresenceLabel_1k82N.GamepadMode,
.GamepadMode .ingame .personanameandstatus_richPresenceLabel_1k82N,
.ingame .personanameandstatus_richPresenceLabel_1k82N a.GamepadMode,
.GamepadMode .ingame .personanameandstatus_richPresenceLabel_1k82N a,
.ingame .personanameandstatus_richPresenceLabel_1k82N a:hover.GamepadMode,
.GamepadMode .ingame .personanameandstatus_richPresenceLabel_1k82N a:hover,
.ingame .personanameandstatus_richPresenceLabel_1k82N a:active.GamepadMode,
.GamepadMode .ingame .personanameandstatus_richPresenceLabel_1k82N a:active,
.ingame .personanameandstatus_richPresenceLabel_1k82N a:visited.GamepadMode,
.GamepadMode .ingame .personanameandstatus_richPresenceLabel_1k82N a:visited,
.friendGroup.gameGroup:not(.OtherGamesGroup) .SteamPlayerGroupFooter.lastInGroup.GamepadMode .count,
.GamepadMode .friendGroup.gameGroup:not(.OtherGamesGroup) .SteamPlayerGroupFooter.lastInGroup .count,
.friendGroup.gameGroup:not(.OtherGamesGroup) .SteamPlayerGroupFooter.lastInGroup.GamepadMode .SteamPlayerGroupFooterLabel,
.GamepadMode .friendGroup.gameGroup:not(.OtherGamesGroup) .SteamPlayerGroupFooter.lastInGroup .SteamPlayerGroupFooterLabel {
  color: var(--ctp-green);
}
.SteamPlayerGroupLines {
  border-color: var(--ctp-green);
}
.online .personanameandstatus_playerName_r62qz.GamepadMode,
.GamepadMode .online .personanameandstatus_playerName_r62qz {
  color: var(--ctp-blue);
}
.awayOrSnooze.online .personanameandstatus_playerName_r62qz.GamepadMode,
.GamepadMode .awayOrSnooze.online .personanameandstatus_playerName_r62qz {
  color: var(--ctp-blue);
}
.quickaccesscontrols_LowBattery_2YBbx {
  background: var(--ctp-yellow);
}
.gamepadslider_SliderControlWithIcon_2M8Pt {
  color: var(--ctp-text);
}
.gamepaddialog_Field_S-_La.gamepaddialog_WithBottomSeparatorStandard_3s1Rk::after {
  background: var(--ctp-surface0) !important;
}
/* settings */
.quickaccesscontrols_Text_1hJkB {
  color: var(--ctp-text);
}
/* performance */
.quickaccesscontrols_BatteryIcon_39aNh > div,
.quickaccesscontrols_BatteryPercentageLabel_3Rxxi,
.quickaccesscontrols_BatteryDetailsLabels_3M39z .quickaccesscontrols_BatteryProjectedValue_1mTo6,
.perf_PerfProfileInfo_1UqP6 .perf_Heading_23Yxa .perf_Text_3gY4m {
  color: var(--ctp-text) !important;
}
.quickaccesscontrols_BatteryDetailsLabels_3M39z .quickaccesscontrols_BatteryProjectedLabel_4hS40,
.perf_PerfProfileInfo_1UqP6 .perf_SubHeading_2C4wP .perf_Text_3gY4m {
  color: var(--ctp-subtext0);
}

/*
OTHER
*/

/* Navigation */
.mainmenu_Menu_23IDi {
  background: var(--ctp-base);
}

.mainmenu_Item_2w9Tp .mainmenu_ActiveDot_1uLVH {
  background: var(--ctp-accent-color);
}
.mainmenu_Item_2w9Tp.gpfocus,
.mainmenu_Item_2w9Tp.mainmenu_Active_10bq5:focus {
  background: var(--ctp-surface0) !important;
}

.gamepadcontextmenu_contextMenuItem_1sdvo.gamepadcontextmenu_Focused_X813r.gamepadcontextmenu_Destructive_3aIFv,
.gamepadcontextmenu_contextMenuItem_1sdvo.gamepadcontextmenu_Focused_X813r.Stop,
.gamepadcontextmenu_contextMenuItem_1sdvo.gamepadcontextmenu_Focused_X813r.Cancel {
  background: var(--ctp-red);
  color: var(--ctp-base);
}
.gamepaddialog_FieldLabel_3b0U- {
  color: var(--ctp-text);
}
.gamepaddialog_FieldDescription_2OJfk {
  color: var(--ctp-subtext1);
}
button.gamepaddialog_Button_1kn70.DialogButton,
button.gamepaddialog_Button_1kn70.DialogButton.Primary, 
button.gamepaddialog_Button_1kn70.DialogButton:enabled, 
button.gamepaddialog_Button_1kn70.DialogButton:enabled.Primary, 
button.gamepaddialog_Button_1kn70.DialogButton:active, 
button.gamepaddialog_Button_1kn70.DialogButton:active.Primary, 
button.gamepaddialog_Button_1kn70.DialogButton:hover, 
button.gamepaddialog_Button_1kn70.DialogButton:hover.Primary, 
button.gamepaddialog_Button_1kn70.DialogButton:enabled:active:hover,
button.gamepaddialog_Button_1kn70.DialogButton:enabled:active:hover.Primary {
  background: var(--ctp-surface0) !important;
  color: var(--ctp-text);
}

button.gamepaddialog_Button_1kn70.DialogButton.gpfocus, 
button.gamepaddialog_Button_1kn70.DialogButton:active, 
button.gamepaddialog_Button_1kn70.DialogButton:enabled.gpfocus, 
button.gamepaddialog_Button_1kn70.DialogButton:enabled:active, 
button.gamepaddialog_Button_1kn70.DialogButton:active.gpfocus, 
button.gamepaddialog_Button_1kn70.DialogButton:active:active, 
button.gamepaddialog_Button_1kn70.DialogButton:hover.gpfocus, 
button.gamepaddialog_Button_1kn70.DialogButton:hover:active, 
button.gamepaddialog_Button_1kn70.DialogButton:enabled:active:hover.gpfocus, 
button.gamepaddialog_Button_1kn70.DialogButton:enabled:active:hover:active {
  background: var(--ctp-accent-color) !important;
  color: var(--ctp-base);
}

.basiccontextmenu_contextMenuItem_3PqLg {
  background: var(--ctp-mantle);
}
.basiccontextmenu_contextMenuItem_3PqLg.basiccontextmenu_Focused_3t3Zg {
  background: var(--ctp-accent-color);
  color: var(--ctp-base);
}
/* Power menu */ /* Commented out for now
.gamepadui_GamepadDialogOverlay_34Euf .ModalOverlayBackground {
  background: var(--ctp-base);
} */

/* Search */
.gamepadsearch_GamepadSearch_P_AlE {
  background: var(--ctp-base);
}
/* Media upload */
.gamepaddialog_ModalPosition_30VHl > .gamepaddialog_GamepadDialogContent_3joNk {
  background: var(--ctp-base);
}
/* Lock screen */
.lockscreen_Container_3rFFU {
  background: var(--ctp-base);
}
/* Footer */
.footer_BasicFooter_3T1iF {
  background: var(--ctp-crust);
}
.gamepaddialog_Field_S-_La.gamepaddialog_HighlightOnFocus_wE4V6.gpfocus,
.gamepaddialog_Field_S-_La.gamepaddialog_HighlightOnFocus_wE4V6.gpfocuswithin {
  background: var(--ctp-surface0) !important;
}
.gamepaddialog_ToggleRail_2JtC3::before {
  background: var(--ctp-accent-color);
}
.actionbuttonlegenditem_ActionButtonLegend_Mbyhb .actionbuttonlegenditem_ActionButtonLabel_31Jnn {
  color: var(--ctp-text);
}
/* Settings Menu Fixes */
.contentmanagement_DriveUsageGames_22KCi {
  background-color: var(--ctp-blue);
}
.contentmanagement_DriveUsageDLC_2W7tN {
  background-color: var(--ctp-lavender);
}
.contentmanagement_DriveUsageWorkshop_1W6jW {
  background-color: var(--ctp-green);
}
.contentmanagement_DriveUsageUpdates_3mzew {
  background-color: var(--ctp-red);
}
.contentmanagement_DriveUsageOther_1SwNA {
  background-color: var(--ctp-yellow);
}
.contentmanagement_DriveUsageIndicator_1EubJ, .contentmanagement_IsSelected_3VQeL, .contentmanagement_DriveSettingsButton_1WKUO {
  background-color: var(--ctp-surface0);
}
.contentmanagement_IsSelected_3VQeL .contentmanagement_DriveName_1rihl, .contentmanagement_IsSelected_3VQeL .contentmanagement_DriveSize_5bG9I, .contentmanagement_IsSelected_3VQeL svg {
  color: var(--ctp-subtext0);
}
.contentmanagement_DriveSettingsButton_1WKUO {
  color: var(--ctp-subtext0);
}
.gamepaddialog_GamepadDialogContent_3joNk .DialogHeader {
  color: var(--ctp-text);
}
.notificationssettings_ToggleHeader_33Q-M.notificationssettings_ToggleHeader_33Q-M {
  color: var(--ctp-subtext0);
}
.radio_Group_2qYC3 {
  background-color: var(--ctp-base);
  box-shadow: none;
}
.radio_Button_3lwcR.radio_Active_3ZBFo, .radio_Button_3lwcR.radio_Active_3ZBFo:hover {
  background-color: var(--ctp-accent-color);
  color: var(--ctp-base);
}
.radio_Button_3lwcR {
  background-color: var(--ctp-surface0);
  color: var(--ctp-text);
}
.BasicUI .gamepaddialog_GamepadDialogContent_3joNk .DialogSubHeader {
  color: var(--ctp-text);
}
.notificationssettings_FriendsDescription_3fPiC.notificationssettings_FriendsDescription_3fPiC {
  color: var(--ctp-subtext0);
}
.gamepaddialog_GamepadDialogContent_3joNk .DialogBodyText {
  color: var(--ctp-text);
}
.notificationssettings_NotificationDescription_1ifM6 {
  color: var(--ctp-subtext0);
}
.BasicUI .gamepaddialog_GamepadDialogContent_3joNk .DialogControlsSectionHeader {
  color: var(--ctp-text);
}
.gamepaddialog_Field_S-_La.gamepaddialog_HighlightOnFocus_wE4V6.gpfocus .gamepaddialog_FieldLabel_3b0U-, .gamepaddialog_Field_S-_La.gamepaddialog_HighlightOnFocus_wE4V6.gpfocuswithin .gamepaddialog_FieldLabel_3b0U- {
  color: var(--ctp-text);
}
.gamepaddialog_Field_S-_La.gamepaddialog_HighlightOnFocus_wE4V6.gpfocus .gamepaddialog_FieldDescription_2OJfk, .gamepaddialog_Field_S-_La.gamepaddialog_HighlightOnFocus_wE4V6.gpfocuswithin .gamepaddialog_FieldDescription_2OJfk {
  color: var(--ctp-text);
}
.gamepaddialog_Toggle_24G4g.gpfocus:after {
  background-color: var(--ctp-accent-color);
}
.gamepaddialog_LabelFieldValue_5Mylh {
  color: var(--ctp-subtext0);
}
.gamepadpagedsettings_PagedSettingsDialog_PageListItem_1ix7r.gamepadpagedsettings_Active_22LLB, .gamepadpagedsettings_PagedSettingsDialog_PageListItem_1ix7r:focus {
  color: var(--ctp-base) !important;
  background-color: var(--ctp-accent-color) !important;
}
.gamepadpagedsettings_PagedSettingsDialog_PageListItem_1ix7r {
  color: var(--ctp-text);
}
.gamepadui_BasicHome_3LYP1 {
  color: var(--ctp-subtext0);
}
.contentmanagement_AppsGrid_2n6FN .contentmanagement_AppHeader_3_uaa, .sortingdropdowncontrolbutton_BasicHomeDropDownControlButton_17SQW.sortingdropdowncontrolbutton_SortingDropDownControlButton_2ddeJ {
  color: var(--ctp-text);
}
.contentmanagement_InstallFolder_12aBP .contentmanagement_FolderInfo_2ylO_ svg, .contentmanagement_IsSelected_3VQeL .contentmanagement_FolderInfo_2ylO_ svg  {
  color: var(--ctp-yellow);
}
.contentmanagement_InstallFolder_12aBP {
  color: var(--ctp-subtext1);
}
.contentmanagement_DriveSettingsButton_1WKUO:hover, .contentmanagement_DriveSettingsButton_1WKUO:focus {
  color: var(--ctp-base);
  color: var(--ctp-accent-color);
}
.contentmanagement_DriveName_1rihl, .contentmanagement_DriveSize_5bG9I {
  color: inherit !important;
}
.BasicUI .contentmanagement_InstallFolder_12aBP:focus, .sortingdropdowncontrolbutton_BasicHomeDropDownControlButton_17SQW:focus {
  background-color: var(--ctp-accent-color);
  color: var(--ctp-base);
}
.contentmanagement_AppsGrid_2n6FN .contentmanagement_AppBodyLeft_d9dlN .contentmanagement_AppName_YxhO6, .contentmanagement_AppsGrid_2n6FN .contentmanagement_AppBodyRight_3vHX3 .contentmanagement_AppSize_mohK9 {
  color: var(--ctp-text);
}
.BasicUI .contentmanagement_AppsGrid_2n6FN .contentmanagement_AppBodyLeft_d9dlN .contentmanagement_AppInfo__g4ce .contentmanagement_AppUsageValue_2B8dj {
  color: var(--ctp-subtext0);
}
.contentmanagement_AppsGrid_2n6FN .contentmanagement_AppBodyLeft_d9dlN .contentmanagement_AppInfo__g4ce svg {
  color: var(--ctp-subtext0);
}
.BasicUI .contentmanagement_AppsGrid_2n6FN .contentmanagement_AppBody_2RCSU:focus {
  background-color: var(--ctp-surface0);
}
.contentmanagement_DriveUsageText_1DFCG, .contentmanagement_DriveUsageNumber_181OY {
  color: var(--ctp-text);
}
.contentmanagement_DriveUsageNumber_181OY, .contentmanagement_AppsGrid_2n6FN .contentmanagement_AppHeader_3_uaa .contentmanagement_AppHeaderValue_3X3BB {
  color: var(--ctp-subtext0);
}
.contentmanagement_LibraryContent_ybEU2 .contentmanagement_DriveUsage_1LvKJ .contentmanagement_DriveName_1rihl {
  color: var(--ctp-text) !important;
}
.contentmanagement_DriveSize_5bG9I {
  color: var(--ctp-subtext0) !important;
}
.BasicUI .contentmanagement_InstallFolder_12aBP:focus .contentmanagement_DriveName_1rihl, .BasicUI .contentmanagement_InstallFolder_12aBP:focus .contentmanagement_DriveSize_5bG9I, .BasicUI .contentmanagement_InstallFolder_12aBP:focus svg {
  color: var(--ctp-base) !important;
}
.gamepadcontextmenu_contextMenuItem_1sdvo.gamepadcontextmenu_Focused_X813r {
  background-color: var(--ctp-accent-color) !important;
  color: var(--ctp-base) !important;
}
.gamepadcontextmenu_contextMenuItem_1sdvo {
  background-color: var(--ctp-base);
  color: var(--ctp-text);
}
.gamepadcontextmenu_contextMenuItem_1sdvo.gamepadcontextmenu_Selected_1PnET {
  background-color: var(--ctp-surface0);
  color: var(--ctp-text);
}
.familysettings_UserListHeader_2LOrs {
  color: var(--ctp-text);
}
.gamepaddialog_Field_S-_La.gpfocuswithin .gamepaddialog_LabelFieldValue_5Mylh {
  color: var(--ctp-subtext0);
}
.dropdownlabel_DropDownLabelTitle_uDBZW, .dropdownlabel_DropDownLabelTitle_uDBZW, .dropdownlabel_DropDownLabelUpperDescription_2_JN3, .dropdownlabel_DropDownLabelDescription_1JPcb {
    color: var(--ctp-subtext0);
}
.gpfocus .dropdownlabel_DropDownLabelUpperDescription_2_JN3, .gpfocus .dropdownlabel_DropDownLabelTitle_uDBZW, .gpfocus .dropdownlabel_DropDownLabelDescription_1JPcb {
color: var(--ctp-base);
}
.controllersettings_NintendoSwitchLayoutToggle_3Q8Vc .controllersettings_NintendoSwitchLayoutToggleDesc_3J9Od, .customizationsettings_StartupMoviesSelectionDesc_gfecK {
  color: var(--ctp-subtext0);
}
.gamepaddialog_GamepadDialogContent_3joNk .DialogControlsSectionHeader {
  border-color: var(--ctp-surface0);
}
.gamepaddialog_FieldLeadIcon_OKYIj > svg > path {
  fill: var(--ctp-subtext0);
}
svg.networksettings_LargerIcon_14aKC > path {
  fill: var(--ctp-subtext0);
}
#Main > div > div.topleveltransitionswitch_TopLevelTransitionSwitch_1iKmx > div > div > div > div > div > div > div.DialogContentTransition.gamepadpagedsettings_PagedSettingDialog_ContentColumn_3JPle.Panel.Focusable.gpfocuswithin > div > div > div > div > div > div.DialogBody > div.gamepaddialog_Field_S-_La.gamepaddialog_WithFirstRow_qFXi6.gamepaddialog_VerticalAlignCenter_3XNvA.gamepaddialog_InlineWrapShiftsChildrenBelow_pHUb6.gamepaddialog_WithBottomSeparatorStandard_3s1Rk.gamepaddialog_ChildrenWidthFixed_1ugIU.gamepaddialog_ExtraPaddingOnChildrenBelow_5UO-_.gamepaddialog_StandardPadding_XRBFu.gamepaddialog_HighlightOnFocus_wE4V6.Panel.Focusable.gpfocuswithin > div > div.gamepaddialog_FieldChildren_14_HB > button > div > div.DialogDropDown_CurrentDisplay > div > div > div.dropdownlabel_DropDownLabelUpperDescription_2_JN3 {
  color: var(--ctp-base);
}
.gamepadslider_SliderControlWithIcon_2M8Pt.gpfocuswithin {
  color: var(--ctp-text);
}
.homesettings_HiddenGameLabel_3p6Jb .homesettings_GameCount_1Bv_r {
  color: var(--ctp-text);
}
#ModalDialogOverlay_Modal_18 > div > div.BasicUIContextMenu.gamepadcontextmenu_BasicContextMenuModal_2xS2_ > div > div > div.gamepadcontextmenu_contextMenuItem_1sdvo.contextMenuItem.gamepadcontextmenu_Selected_1PnET.Panel.Focusable.gamepadcontextmenu_Focused_X813r.gpfocus.gpfocuswithin > div > div > div.dropdownlabel_DropDownLabelUpperDescription_2_JN3,
#ModalDialogOverlay_Modal_18 > div > div.BasicUIContextMenu.gamepadcontextmenu_BasicContextMenuModal_2xS2_ > div > div > div.gamepadcontextmenu_contextMenuItem_1sdvo.contextMenuItem.Panel.Focusable.gamepadcontextmenu_Focused_X813r.gpfocus.gpfocuswithin > div > div > div.dropdownlabel_DropDownLabelUpperDescription_2_JN3 {
  color: var(--ctp-base);
}
#header > div.searchbar_SearchContainer_161Tj.searchbar_ForceExpanded_1bmuJ.Panel.Focusable > input {
  background-color: var(--ctp-crust);
}
#header > div.searchbar_SearchContainer_161Tj.searchbar_ForceExpanded_1bmuJ.Panel.Focusable > svg.searchbar_SearchIconLeft_2Ya83 {
  color: var(--ctp-text);
}

/* Gyro Menu */
.gyroscopenoisebar_GyroBarField_2OnwI .gyroscopenoisebar_ProgressBar_2VCd- .gyroscopenoisebar_Percent_2kHca {
  background-color: var(--ctp-accent-color);
}
.gyroscopenoisebar_GyroBarField_2OnwI .gyroscopenoisebar_ProgressBar_2VCd- {
  background-color: var(--ctp-mantle);
}
.gyroscopenoisebar_GyroBarField_2OnwI .gyroscopenoisebar_LabelText_M9tOt {
  color: var(--ctp-subtext1);
}
.gyroscopenoisebar_AxisIcon_1hz8e > svg > path {
  fill: var(--ctp-subtext1);
}
.gyroscopenoisebar_GyroRotationAxisIcon_g7noT .gyroscopenoisebar_RotateChilden_2UVaM {
  color: var(--ctp-subtext1);    
}

/* Move Content Window */
.gamepaddialog_ModalPosition_30VHl>.gamepaddialog_GamepadDialogContent_3joNk {
  border-color: transparent;
}
#ModalDialogOverlay_Modal_31 > div > div.gamepaddialog_GamepadDialogContent_3joNk.DialogContent._DialogLayout.GenericConfirmDialog.Panel.Focusable.gpfocuswithin > div > form > div > div.DialogBody > div > div.gamepaddialog_Field_S-_La.gamepaddialog_WithChildrenBelow_1u5FT.gamepaddialog_VerticalAlignCenter_3XNvA.gamepaddialog_InlineWrapShiftsChildrenBelow_pHUb6.gamepaddialog_WithBottomSeparatorStandard_3s1Rk.gamepaddialog_ChildrenWidthFixed_1ugIU.gamepaddialog_ExtraPaddingOnChildrenBelow_5UO-_.gamepaddialog_StandardPadding_XRBFu.gamepaddialog_HighlightOnFocus_wE4V6.Panel.Focusable.gpfocuswithin {
  background-color: var(--ctp-base) !important;
}
.moveappsdialog_DialogBodyText_lwZMn {
  color: var(--ctp-subtext0);
}

/* Device Test Menu */
.controllersettings_devicesupport_Row_1ndHK {
  border-top: 1px solid var(--ctp-surface0);
  background-color: var(--ctp-base);
}
.controllersettings_devicesupport_ControllerName_2MK05, .controllersettings_devicesupport_TestStepLabel_30M-Y, .searchbar_SearchContainer_161Tj {
  color: var(--ctp-text);
}

/* Controller Settings Menu */
#modeid-7-input-unknown\ EControllerModeInput\ \(\ 57\ \)-binding-0, 
#modeid-7-input-unknown\ EControllerModeInput\ \(\ 58\ \)-binding-0,
#modeid-7-input-unknown\ EControllerModeInput\ \(\ 55\ \)-binding-0,
#modeid-7-input-unknown\ EControllerModeInput\ \(\ 56\ \)-binding-0,
#modeid-16-input-unknown\ EControllerModeInput\ \(\ 57\ \)-binding-0,
#modeid-16-input-unknown\ EControllerModeInput\ \(\ 58\ \)-binding-0,
#modeid-16-input-unknown\ EControllerModeInput\ \(\ 55\ \)-binding-0,
#modeid-16-input-unknown\ EControllerModeInput\ \(\ 56\ \)-binding-0 {
  background-color: var(--ctp-base) !important;
}
.gamepadslider_EditableValue_2DXnl, .gamepadslider_FakeEditableValue_1-lyB {
  background: none;
  color: var(--ctp-subtext1);
}
.controllerconfigurator_TopSectionHeader_1a_D6, .controllerconfigurator_QuickSettingsHeader_3gVR5 {
  color: var(--ctp-text);
}
.controllerconfigurator_CommunityConfigsCallout_1xfC8 {
  background: none;
  border-bottom: 1px solid var(--ctp-surface0);
}
.controllerconfigurator_CommunityConfigsCallout_1xfC8 .controllerconfigurator_Description_38ea5 .controllerconfigurator_SubTitle_2-E4i, .gpfocus .controllerconfigurator_CommunityConfigCalloutContainer_10WYX .controllerconfigurator_CommunityConfigCalloutPresent_1L7Yn {
  color: var(--ctp-subtext1);
}
.dropdownlabel_DropDownLabelTextColumn_P4jYQ > .dropdownlabel_DropDownLabelUpperDescription_2_JN3 {
  color: var(--ctp-accent-color);
}
.DialogHeader {
  color: var(--ctp-text);
}
.controllerconfigurator_interstitial_DialogBody_bo5Tt {
  color: var(--ctp-subtext0);
}
.controllerconfigurator_interstitial_Highlight_1FZA8 {
  color: var(--ctp-subtext1);
}
.guidedtour_PageIndicator_4hJJR.guidedtour_Active_2SNXu {
  background-color: var(--ctp-accent-color);
}
.guidedtour_PageIndicator_4hJJR, .controllerconfigurator_interstitial_SectionSeparator_RoCqX {
  background-color: var(surface1);
}
.controllerconfigurator_interstitial_ControlLabel_tGJeF {
  background-color: var(--ctp-accent-color);
  color: var(--ctp-base);
}

/* Layout Menu */
.controllerconfiguratorchooseconfiguration_OuterColumn_1Udh1 h1 {
  color: var(--ctp-text);
}
.controllerconfiguratorchooseconfiguration_OuterColumn_1Udh1 p {
  color: var(--ctp-subtext0);
}
.controllerconfiguratorchooseconfiguration_ConfigurationButton_2luCN.controllerconfiguratorchooseconfiguration_Recommended_2v9eL,
.controllerconfiguratorchooseconfiguration_ConfigurationButton_2luCN {
  background: var(--ctp-base);
  border-top: 1px solid var(--ctp-surface0);
  border-bottom: 1px solid var(--ctp-surface0);
}
.controllerconfiguratorchooseconfiguration_ConfigurationButton_2luCN.controllerconfiguratorchooseconfiguration_Recommended_2v9eL {
  border-left-color: var(--ctp-accent-color);
}
.controllerconfiguratorchooseconfiguration_ConfigurationButton_2luCN, .controllerconfiguratorchooseconfiguration_Title_EI1IQ {
  color: var(--ctp-subtext1);
}
.controllerconfiguratorchooseconfiguration_ConfigurationButton_2luCN.controllerconfiguratorchooseconfiguration_Recommended_2v9eL.gpfocus,
.controllerconfiguratorchooseconfiguration_ConfigurationButton_2luCN.gpfocus {
  background: var(--ctp-accent-color);
  color: var(--ctp-base);
}
.controllerconfiguratorchooseconfiguration_ConfigurationButton_2luCN {
  background: none;
}
.controllerconfiguratorchooseconfiguration_InfoSection_25G91,
.controllerconfiguratorchooseconfiguration_Author_1dzOH,
.controllerconfiguratorchooseconfiguration_Description_3XAvq {
  color: var(--ctp-subtext0);
}

/* Specific Controller settings */
.controllerconfiguratorsummary_ControllerConfiguratorSummary_3TvBV .controllerconfiguratorsummary_DirectAccessButton_QAVEl:focus {
  background-color: var(--ctp-surface0);
}
.controllerconfiguratorsummary_ControllerInputDisplay_27Q1T .controllerconfiguratorsummary_StandardControl_pywHI,
.controllerconfiguratorsummary_ControllerInputDisplay_27Q1T .controllerconfiguratorsummary_ActivatorText_2BHzj,
.controllerconfiguratorsummary_ControlsListSection_nnOTT .controllerconfiguratorsummary_StandardControl_pywHI {
  color: var(--ctp-subtext0);
}
.controllerconfiguratorsummary_ControlsListSection_nnOTT .controllerconfiguratorsummary_Title_12Taa {
  color: var(--ctp-subtext1);
}

/* Search Bar Fix */
input[type="search" i],
.searchbar_SearchFieldBackground_3F4YR.searchbar_WhiteBackground_1l8js{
  background-color: var(--ctp-surface0);
  color: var(--ctp-text);
}
.searchbar_SearchBox_2a1-s.gpfocus, .searchbar_SearchContainer_161Tj.searchbar_ForceExpanded_1bmuJ .searchbar_SearchBox_2a1-s {
  color: var(--ctp-text);
}
svg.searchbar_SearchIconLeft_2Ya83.searchbar_WhiteBackground_1l8js > path {
  fill: var(--ctp-text);
}
.controllerconfiguratorchooseconfiguration_SearchBox_1H4cu {
  border: 1px solid var(--ctp-surface2);
}
#header > div.searchbar_SearchContainer_161Tj.searchbar_ForceExpanded_1bmuJ.Panel.Focusable.gpfocuswithin > input {
  background-color: transparent;
}

/* Quick Access Fix */
.quickaccessmenu_Container_3DHXr.quickaccessmenu_Open_-6ESh {
  color: var(--ctp-subtext0);
}
#QuickAccess-Menu .GamepadMode.friendlist .TabPanelHeader {
  color: var(--ctp-text);
}
.GamepadMode.friendlist .FriendsListTab {
  color: var(--ctp-overlay0);
}
.GamepadMode.friendlist .FriendsListTab.Active {
  color: var(--ctp-accent-color);
}
.friendslist_TabBumper_3Jr0A.GamepadMode svg path:first-of-type, 
.GamepadMode .friendslist_TabBumper_3Jr0A svg path:first-of-type,
.friendslist_TabBumper_3Jr0A.GamepadMode svg path, 
.GamepadMode .friendslist_TabBumper_3Jr0A svg path {
  stroke: var(--ctp-overlay0);
}
.friend.gpfocus .labelHolder.GamepadMode.ingame.awayOrSnooze .personanameandstatus_playerName_r62qz, .friend.gpfocus .labelHolder.GamepadMode.ingame .personanameandstatus_richPresenceLabel_1k82N, .GamepadMode .friend.gpfocus .labelHolder.ingame.awayOrSnooze .personanameandstatus_playerName_r62qz, .GamepadMode .friend.gpfocus .labelHolder.ingame .personanameandstatus_richPresenceLabel_1k82N, .favoriteElement.gpfocus .labelHolder.GamepadMode.ingame.awayOrSnooze .personanameandstatus_playerName_r62qz, .favoriteElement.gpfocus .labelHolder.GamepadMode.ingame .personanameandstatus_richPresenceLabel_1k82N, .GamepadMode .favoriteElement.gpfocus .labelHolder.ingame.awayOrSnooze .personanameandstatus_playerName_r62qz, .GamepadMode .favoriteElement.gpfocus .labelHolder.ingame .personanameandstatus_richPresenceLabel_1k82N {
  color: var(--ctp-green);
}
.GamepadMode.friendlist .FriendsListTab.gpfocus { /* This one is a big maybe*/
  color: var(--ctp-overlay0);
  background-color: var(--ctp-surface1);
  border-radius: 10%;
}
.recentChatsGroup .friendGroup .groupName, 
.friendGroup.taggedGroup .groupName, 
.friendGroup.gameGroup .groupName,
.FriendsListContent .friendlistListContainer .friendGroup.onlineFriends .groupName, 
.FriendsListContent .friendlistListContainer .friendGroup.offlineFriends .groupName,
.GamepadMode .friendGroup.onlineFriends .groupName .groupCount {
  color: var(--ctp-subtext1);
}
.GamepadMode.friendlist .TabPanelHeader .NewChatGroupButton, 
.GamepadMode.friendlist .TabPanelHeader .AddFriendButton, 
.GamepadMode.friendlist .TabPanelHeader .FriendsInvitesButton {
  background-color: var(--ctp-surface0);
  color: var(--ctp-overlay0);
}
.ChatRoomListGroupItem .groupNameStatusContainer .chatRoomName {
  color: var(--ctp-subtext1);
}
.quickaccessmenu_Tab_1S76C.quickaccessmenu_Selected_2QHMu.gpfocus, 
.quickaccessmenu_Tab_1S76C.quickaccessmenu_Selected_2QHMu {
  background-color: var(--ctp-base) !important;
  color: var(--ctp-accent-color);
}
.gpfocus .quickaccessmenu_Tab_1S76C, 
.quickaccessmenu_Tab_1S76C.gpfocus {
  background: var(--ctp-accent-color) !important;
  color: var(--ctp-base);
}
.groupName.Panel.Focusable.gpfocus.gpfocuswithin {
  color: var(--ctp-subtext1) !important;
}
/* Main Menu Fix */
.mainmenu_ItemIcon_3xZ3Z, .mainmenu_ItemLabel_3x-ZK {
  color: var(--ctp-text) !important;
}
.gamepadhomewhatsnew_EventType_1f0dZ.gamepadhomewhatsnew_EventType28_39b83 {
  color: var(--ctp-yellow);
}
.gamepadhomewhatsnew_EventType_1f0dZ.gamepadhomewhatsnew_EventType13_16aly {
  color: var(--ctp-blue);
}
.gamepadhomewhatsnew_EventType_1f0dZ.gamepadhomewhatsnew_EventType11_1I2pe, 
.gamepadhomewhatsnew_EventType_1f0dZ.gamepadhomewhatsnew_EventType23_qVIYl, 
.gamepadhomewhatsnew_EventType_1f0dZ.gamepadhomewhatsnew_EventType35_LeZ61 {
  color: var(--ctp-green);
}
.gamepadhomewhatsnew_EventType_1f0dZ.gamepadhomewhatsnew_EventType14_ovxhr {
  color: var(--ctp-flamingo);
}

/* Whats New Fix */
.gamecapsule_PriceCtn_2E-mS, .discoveryqueuewidget_AppName_2t1rR {
  color: var(--ctp-text);
  font-weight: 500;
}
.BasicUI .salepreviewwidgets_StoreSaleDiscountedPriceCtn_3GLeQ .salepreviewwidgets_StoreSalePriceBox_Wh0L8 {
  color: var(--ctp-accent-color);
}
.BasicUI .salepreviewwidgets_StoreSaleDiscountBox_2fpFv {
  color: var(--ctp-green);
}
.BasicUI .homestorecarousel_StoreCarouselCtn_3zVCV .homestorecarousel_Header_xpRXv, .BasicUI .marketingmessages_MarketingMessages_jdr42 .marketingmessages_Header_1QCdV, .BasicUI .recentlycompleted_RecentlyCompleted_3fDIR .recentlycompleted_Header_NhBU2 {
  color: var(--ctp-text);
}
.gamepadhomewhatsnew_GameIconAndName_1jXSh .gamepadhomewhatsnew_GameName_3H9W-, .localdateandtime_ShortDateAndTime_4K3Bl {
  color: var(--ctp-subtext0);
}
.localdateandtime_RightSideTitles_3sPON {
  color: var(--ctp-subtext1);
}
.localdateandtime_ActiveEvent_2ZcVE .localdateandtime_ActiveEventCallOut__y2DQ {
  background-color: var(--ctp-green);
}
.gamepadhomewhatsnew_EventPreviewOuterWrapper_10b1V.gamepadhomewhatsnew_OuterWrapper_3DpEz:hover .gamepadhomewhatsnew_EventInfo_6TGe7, .gpfocus .gamepadhomewhatsnew_EventInfo_6TGe7 {
  background-color: var(surface1);
}
.recentlycompleted_GameIconAndName_2RTo4 .recentlycompleted_GameName_1EIQL {
  color: var(--ctp-text);
}
.recentlycompleted_DownloadInfo_1wLpm .recentlycompleted_Bytes_TH3M8 {
  color: var(--ctp-subtext1);
}
.recentlycompleted_DownloadInfo_1wLpm {
  color: var(--ctp-subtext0);
}

/* Friends Activity Fix */
.BasicUI .gamepadhomefriends_FriendsHeader_1Ejje,
.gamepadhomefriends_InGameGame_KLo2n .gamepadhomefriends_Title_EZ-F-{
    color: var(--ctp-text);
}
.personastatusicons_PersonaStatusIcon_1YsWj.ingame .SVGIcon_VR path.GamepadMode, 
.GamepadMode .personastatusicons_PersonaStatusIcon_1YsWj.ingame .SVGIcon_VR path, 
.personastatusicons_PersonaStatusIcon_1YsWj.ingame .SVGIcon_MobilePhone path.GamepadMode, 
.GamepadMode .personastatusicons_PersonaStatusIcon_1YsWj.ingame .SVGIcon_MobilePhone path, 
.personastatusicons_PersonaStatusIcon_1YsWj.ingame .SVGIcon_BigPicture path.GamepadMode, 
.GamepadMode .personastatusicons_PersonaStatusIcon_1YsWj.ingame .SVGIcon_BigPicture path {
    fill: var(--ctp-green);
}
.friendsnooze_SnoozeContainer_3EzTy.in-game .friendsnooze_SnoozeZ_1DArl.GamepadMode, 
.GamepadMode .friendsnooze_SnoozeContainer_3EzTy.in-game .friendsnooze_SnoozeZ_1DArl {
    color: var(--ctp-green);
}
.BasicUI .appactivityday_StoreGameCapsule_1OYOt {
  background-color: var(--ctp-surface0);
  color: var(--ctp-subtext1);
}
.gamepadhomefriends_InGameGame_KLo2n .gamepadhomefriends_FriendsPlaying_15rrZ {
  color: var(--ctp-accent-color);
}
.gamepadhomefriends_InGameGame_KLo2n .gamepadhomefriends_InLibrary_ho5Qo {
  color: var(--ctp-subtext0);
}
.appactivityday_AppActivityDay_S2Fu9 .appactivityday_AppActivityDate_19LfM {
  color: var(--ctp-subtext1);
}
.ingame .personanameandstatus_playerName_r62qz.GamepadMode, .GamepadMode .ingame .personanameandstatus_playerName_r62qz {
  color: var(--ctp-green);
}
.comment_thread_RatingBar_1yWgP .comment_thread_LikeCount_3grvn,
.comment_thread_RatingBar_1yWgP .comment_thread_CommentCount_2RkIc, 
.comment_thread_RatingBar_1yWgP .comment_thread_ReactionCount_1S3Q9,
.BasicUI .comment_thread_RatingBar_1yWgP .comment_thread_LikeIcon_1OhPt .comment_thread_RatingIcon_2AVfX, 
.BasicUI .comment_thread_RatingBar_1yWgP .comment_thread_CommentIcon_1R6Ou .comment_thread_RatingIcon_2AVfX, 
.BasicUI .comment_thread_RatingBar_1yWgP .comment_thread_ReactionIcon_QL3Aa .comment_thread_RatingIcon_2AVfX,
.BasicUI .comment_thread_RatingBar_1yWgP .comment_thread_LikeButton_161IK.comment_thread_CanClick_3Mds9 .comment_thread_LikeIcon_1OhPt,
.BasicUI .comment_thread_RatingBar_1yWgP .comment_thread_CommentButton_3i62H.comment_thread_CanClick_3Mds9 .comment_thread_LikeIcon_1OhPt,
.BasicUI .comment_thread_RatingBar_1yWgP .comment_thread_Reactions_35yrb.comment_thread_CanClick_3Mds9 .comment_thread_LikeIcon_1OhPt {
  color: var(--ctp-subtext0);
}

/* Recommended Menu Fix */
.discoveryqueuewidget_WidgetHeaderText_uUpem,
.BasicUI .gamepadhomerecommended_PlayNextCarouselTitle_2r7cQ {
  color: var(--ctp-text);
}
.discoveryqueuewidget_DiscoveryQueueWidgetCtn_1iOb7 .discoveryqueuewidget_WidgetHeaderCtn_3u5R_ .discoveryqueuewidget_LaunchAction_1V7ho {
  color: var(--ctp-subtext1);
}
.gamepadhomerecommended_PlayNextCarouselSubHeading_2VByW {
  color: var(--ctp-subtext0);
}
.discoveryqueuewidget_DiscoveryQueueWidgetCtn_1iOb7 .discoveryqueuewidget_WidgetHeaderCtn_3u5R_ {
  background: linear-gradient(90deg, var(--ctp-surface0) 0%, var(--ctp-surface1) 75%, rgba(64, 121, 153, 0) 100%);
}

/* Uniform Coloration Fix */
.appdetailsfriendssection_FriendsPlayingNowBadge_38sNQ.appdetailsfriendssection_InFriendsTab_15Vpl.appdetailsfriendssection_TabSelected_mHKj- {
  color: var(--ctp-accent-color);
  background-color: var(--ctp-base) !important;
}
.header_HeaderItem_2HnVd.gpfocus, .header_HeaderItem_2HnVd.gpfocuswithin {
  background-color: var(--ctp-accent-color);
}
.header_HeaderItem_2HnVd.header_BatteryIcon_1_6kL.gpfocuswithin {
  background-color: var(--ctp-base);
}

/* Main Menu Fix */
.BasicUI .appportrait_PortraitMessage_3gwMk .appportrait_Message_3CRLA, .gamepadhomerecentgames_RecentGamesHeader_35iRe {
  color: var(--ctp-text);
}
.basicgamecarousel_SubMessage_1BtXg {
  color:var(--ctp-subtext0);
}
.mainbrowser_URLBar_1CwIx .mainbrowser_InputSupportLevel_1aVPs .mainbrowser_RequireTouchscreenLabel_1ifWL {
  color: var(--ctp-accent-color);
}
#header > div.headerbrowser_HeaderBrowser_1gnVM.Panel.Focusable > div > div.mainbrowser_InputSupportLevel_1aVPs.Panel.Focusable > svg > g > path:nth-child(2) {
  fill: var(--ctp-accent-color);
}

/* Decky Menu */
.gamepaddialog_FieldChildren_14_HB > div {
  color: var(--ctp-subtext1) !important;
}
.gamepaddialog_Field_S-_La.gamepaddialog_WithFirstRow_qFXi6.gamepaddialog_VerticalAlignCenter_3XNvA.gamepaddialog_InlineWrapShiftsChildrenBelow_pHUb6.gamepaddialog_WithBottomSeparatorStandard_3s1Rk.gamepaddialog_ExtraPaddingOnChildrenBelow_5UO-_.gamepaddialog_StandardPadding_XRBFu.gamepaddialog_HighlightOnFocus_wE4V6.Panel.Focusable.gpfocuswithin {
  background: none !important;
}

/* Discovery Queue */
.discoveryqueuewizard_DiscoveryQueueCarouselCtn_1GFC6 {
  color: var(--ctp-text);
}
.gamehover_ReviewScore_24NyY .gamehover_ReviewScoreValue_2SbZz.gamehover_ReviewScoreHigh_1Emes {
  color: var(--ctp-green);
}
.discoveryqueuewizard_AppDetailsHeader_1Qn-x .discoveryqueuewizard_RightColumn_35mWv .discoveryqueuewizard_AppName_3KC4W {
  color: var(--ctp-text);
}
.salepreviewwidgets_StoreSalePriceWidgetContainer_tqNH0.salepreviewwidgets_SingleLineMode_31Sy5 .salepreviewwidgets_StoreSalePriceBox_Wh0L8 {
  color: var(--ctp-text);
  font-weight: 400;
}
.discoveryqueuewizard_WhyRelevant_WBWfZ {
  color: var(--ctp-subtext1);
}
.discoveryqueuewizard_AppTagsCtn_1t4JV .discoveryqueuewizard_TagEntry_UNDKT {
  color: var(--ctp-subtext0);
  background-color: var(--ctp-base);
}
.discoveryqueuewizard_AppDescription_Kzj5I,
.discoveryqueuewizard_RelevantColumn_1HcOX {
  color: var(--ctp-subtext0);
}
.gamehover_ReviewScore_24NyY .gamehover_ReviewScoreValue_2SbZz.gamehover_ReviewScoreMixed_2BVpb {
  color: var(--ctp-yellow);
}
.discoveryqueuewizard_LearnMoreLink_3bCDZ:visited,
.discoveryqueuewizard_LearnMoreLink_3bCDZ,
.discoveryqueuewizard_LearnMoreLink_3bCDZ.gpfocus {
  color: var(--ctp-subtext0);
}
.discoveryqueuewizard_QueueButton_19cHb {
  background-color: var(--ctp-base);
  color: var(--ctp-accent-color);
}
.discoveryqueuewizard_QueueButton_19cHb.gpfocus {
  background-color: var(--ctp-accent-color);
  color: var(--ctp-base);
}

/* Game Properties Title */
.gamepadpagedsettings_PagedSettingsDialog_Title_1Px9u {
  color: var(--ctp-subtext1);
}

/* Greyed out Text and Buttons */
.gamepaddialog_Field_S-_La.gamepaddialog_Disabled_1pmyx .gamepaddialog_FieldLabel_3b0U-,
.gamepaddialog_Toggle_24G4g.gamepaddialog_Disabled_1pmyx .gamepaddialog_ToggleSwitch_3__OD, 
.appproperties_AppProperties_1FyBL .DialogBody .appproperties_Title_3zuIC,
.appproperties_AppProperties_1FyBL .DialogBody,
.gamepadcontextmenu_contextMenuItem_1sdvo.disabled {
  color: var(--ctp-overlay0);
}
.gamepaddialog_Toggle_24G4g.gamepaddialog_Disabled_1pmyx .gamepaddialog_ToggleSwitch_3__OD {
  background-color: var(--ctp-overlay1);
}

/* Checkbox */
.DialogCheckbox {
  background-color: var(--ctp-base);
}
.DialogCheckbox_Container:hover .DialogCheckbox:not(.Disabled), .DialogCheckbox:hover:not(.Disabled), .DialogCheckbox_Container:focus .DialogCheckbox:not(.Disabled), .DialogCheckbox:focus:not(.Disabled) {
  background-color: var(--ctp-mantle);
}
[id^="svgid_"] > stop {
  stop-color: var(--ctp-accent-color);
}

/* General Tab */
/* Launch options */
.gamepaddialog_BasicTextInput_3GCBi, .gamepaddialog_BasicTextInput_3GCBi:not(.disabled):not(.gpfocus):hover {
  background-color: var(--ctp-mantle);
}
.gamepaddialog_BasicTextInput_3GCBi.gpfocus, .gamepaddialog_BasicTextInput_3GCBi.gpfocus:hover {
  background-color: var(--ctp-surface0);
  color: var(--ctp-text);
}
.appproperties_AppProperties_1FyBL .DialogBody .appproperties_BlueHighlight_1KmR8 {
  color: var(--ctp-accent-color);
}

/* Compatibility Tab */
.appproperties_AppProperties_1FyBL .appproperties_Checkbox_2V2nc {
  background-color: var(--ctp-surface0);
  color: var(--ctp-text)
}

/* Updates tab */
.appproperties_BuildInfo_t4XYb {
  color: var(--ctp-subtext1);
}

/* Beta Tab */
.appproperties_BetaLabel_3H9mJ {
  color: var(--ctp-subtext1);
}
.appproperties_AppProperties_1FyBL .DialogBody .appproperties_Error_3f8da {
  color: var(--ctp-red);
}

/* DLC Tab */
.appproperties_AppProperties_1FyBL .DialogBody .appproperties_DlcGrid_3sXdO {
  border: none;
  background-color: var(--ctp-base);
  color: var(--ctp-subtext0);
}
.appproperties_AppProperties_1FyBL .DialogBody .appproperties_DlcGrid_3sXdO .appproperties_DlcHeader_1SKB0 {
  color: var(--ctp-subtext1);
  background-color: var(--ctp-mantle);
  border-bottom: 1px solid var(--ctp-surface0);
}
.appproperties_AppProperties_1FyBL .DialogBody .appproperties_DlcGrid_3sXdO .appproperties_DlcHeader_1SKB0:hover {
  color: var(--ctp-base);
  background-color: var(--ctp-accent-color);
}
.appproperties_AppProperties_1FyBL .DialogBody .appproperties_DlcGrid_3sXdO .appproperties_DlcHeader_1SKB0 .appproperties_TriangleDown_2lnv6 {
  border-top-color: var(--ctp-base);
}

/* Game Context Menu */
.gamepadcontextmenu_BasicContextMenuHeader_2Jp8B {
  color: var(--ctp-text);
}
.gamepadcontextmenu_contextMenuItem_1sdvo.Stream, 
.gamepadcontextmenu_contextMenuItem_1sdvo.Connect, 
.gamepadcontextmenu_contextMenuItem_1sdvo.Launch, 
.gamepadcontextmenu_contextMenuItem_1sdvo.PlayMusic, 
.gamepadcontextmenu_contextMenuItem_1sdvo.Play, 
.gamepadcontextmenu_contextMenuItem_1sdvo.Resume, 
.gamepadcontextmenu_contextMenuItem_1sdvo.BorrowApp, 
.gamepadcontextmenu_contextMenuItem_1sdvo.Download, 
.gamepadcontextmenu_contextMenuItem_1sdvo.Update, 
.gamepadcontextmenu_contextMenuItem_1sdvo.PreLoad, 
.gamepadcontextmenu_contextMenuItem_1sdvo.Install, 
.gamepadcontextmenu_contextMenuItem_1sdvo.Pause, 
.gamepadcontextmenu_contextMenuItem_1sdvo.Stop, 
.gamepadcontextmenu_contextMenuItem_1sdvo.Cancel {
  color: var(--ctp-text);
  background-color: var(--ctp-base);
}
.gamepadcontextmenu_contextMenuItem_1sdvo.gamepadcontextmenu_SubMenu_1_tPN .SVGIcon_DownArrowContextMenu {
  fill: var(--ctp-text);
}
.gamepadcontextmenu_contextMenuItem_1sdvo.gamepadcontextmenu_SubMenu_1_tPN.gpfocuswithin .SVGIcon_DownArrowContextMenu {
  fill: var(--ctp-base);
}
.gamepadcontextmenu_contextMenuItem_1sdvo.gamepadcontextmenu_SubMenu_1_tPN.gamepadcontextmenu_active_2Pk-x {
  background-color: var(--ctp-accent-color);
  color: var(--ctp-base);
}
[id^="ModalDialogOverlay_Modal_"] > div > div.BasicUIContextMenu.gamepadcontextmenu_BasicContextMenuModal_2xS2_ > div.gamepadcontextmenu_BasicContextMenuContainer_2ZDB6.Panel.Focusable.gpfocuswithin > div:nth-child(1) > div.gamepadcontextmenu_SubMenu_1_tPN.gamepadcontextmenu_active_2Pk-x.gamepadcontextmenu_contextMenuItem_1sdvo.contextMenuItem.Panel.Focusable > div.gamepadcontextmenu_Arrow_2EDBb > svg {
  fill: var(--ctp-base) !important;
}

/* New Collection Menu */
.DialogLabel, .DialogLabelStrong {
  color: var(--ctp-text);
}
.DialogLabel.savecollectiondialog_Required_w_ZWy {
  color: var(--ctp-red);
}
.savecollectiondialog_Description_3uOEr {
  background: var(--ctp-base);
}