/*
HOME PAGE
*/

/* header art filter */
.gamepadhomerecentgames_RecentGamesBackground_1SRox {}

/* hovered game glow */
.gpfocuswithin ~ .basicgamecarousel_CarouselCapsuleBackgroundGlow_1H3Kf,
:hover ~ .basicgamecarousel_CarouselCapsuleBackgroundGlow_1H3Kf {
  opacity: 0.5;
}
.BasicUI .appportrait_FriendsBar_3dncO.appportrait_IconsView_1WWmQ {
  bottom: -40px;
}
.basicgamecarousel_SubMessage_1BtXg.basicgamecarousel_FriendsInGame_3z5U1 {
  color: var(--ctp-green);
}

/* home backgrounds */
.gamepadui_BasicHome_3LYP1.gamepadui_OpaqueBackground_b084m {
  background: var(--ctp-base);
}
.gamepadhome_TabbedContent_cE1Sa {
  background: var(--ctp-base);
}
.gamepadhomerecentgames_RecentGamesBackgroundFadeGradient_1ksIq {
  background: none;
}
.BasicUI .appdetailscommunityfeed_CommunityItem_3QS6O {
  background: var(--ctp-surface0)
}
.BasicUI .appdetailscommunityfeed_Title_2xEgU {
  color: var(--ctp-text);
}

/* badges */
.deckverified_Verified_2NlWs,
.shared_svg_library_SteamDeckCompatVerified_3mvZq {
  color: var(--ctp-green);
}
.shared_svg_library_SteamDeckCompatPlayable_S7BDm {
  color: var(--ctp-peach);
}
.shared_svg_library_SteamDeckCompatUnsupported_1SeOP, .shared_svg_library_SteamDeckCompatUnknown_15dEs {
  color: var(--ctp-red);
}
.basicgamecarousel_Play_12eKc .basicgamecarousel_ActionIcon_25Qbo {
  color: var(--ctp-green);
}
.appdetailsfriendssection_FriendsPlayingNowBadge_38sNQ.appdetailsfriendssection_InFriendsTab_15Vpl {
  color: var(--ctp-base);
}
.appdetailsfriendssection_FriendsPlayingNowBadge_38sNQ.appdetailsfriendssection_InFriendsTab_15Vpl.appdetailsfriendssection_TabSelected_mHKj- {
  background-color: var(--ctp-green);
  color: var(--ctp-base);
}
.gamepadtabbedpage_Tab_3eEbS.gpfocus {
  background-color: var(--ctp-accent-color);
  color: var(--ctp-base) !important;
}
.gamepadtabbedpage_Tab_3eEbS {
  color: var(--ctp-text);
}
.gamepadtabbedpage_Selected_3Gp1b {
  background-color: var(--ctp-overlay0);
  color: var(--ctp-text) !important;
}

/* whats new */
.gamepadhomewhatsnew_EventInfo_6TGe7 {
  background: var(--ctp-surface0);
}
.recentlycompleted_RecentlyCompletedItem_3OC7i {
  background: var(--ctp-crust);
}
.recentlycompleted_BottomSection_3LyF6 {
  background: var(--ctp-mantle);
}
.gamecapsule_InLibrary_fyHna,
.gamecapsule_GameCapsule_fXdhj .gamecapsule_BottomBar_3-GyQ {
  background: var(--ctp-blue);
}

/*
TOP BAR
*/
.searchbar_SearchBox_2a1-s,
.searchbar_SearchContainer_161Tj .searchbar_SearchIconRight_1Ka4T,
.header_Clock_1HhLU,
.BasicUI .header_Header_1E_SL {
  color: var(--ctp-text);
}

.header_HeaderDownloadContainer_2ssr3 .header_HeaderAppPortraitContainer_1PbL3 .header_HeaderDownloadProgressBarBackground_vo3Tt .header_HeaderDownloadProgressBar_AK_Ax {
  background-color: var(--ctp-blue);
}
.header_Header_1E_SL::before {
  background: var(--ctp-crust);
}
.mainbrowser_URLBar_1CwIx .mainbrowser_URL_2aM-J {
  background: var(--ctp-crust);
}

/* online status */
.online .personanameandstatus_richPresenceLabel_1k82N.GamepadMode, 
.GamepadMode .online .personanameandstatus_richPresenceLabel_1k82N,
.online .personanameandstatus_gameName_2wpap.personanameandstatus_richPresenceLabel_1k82N a.GamepadMode,
.GamepadMode .online .personanameandstatus_gameName_2wpap.personanameandstatus_richPresenceLabel_1k82N a,
.online .personanameandstatus_gameName_2wpap.personanameandstatus_richPresenceLabel_1k82N a:hover.GamepadMode,
.GamepadMode .online .personanameandstatus_gameName_2wpap.personanameandstatus_richPresenceLabel_1k82N a:hover,
.online .personanameandstatus_gameName_2wpap.personanameandstatus_richPresenceLabel_1k82N a:active.GamepadMode,
.GamepadMode .online .personanameandstatus_gameName_2wpap.personanameandstatus_richPresenceLabel_1k82N a:active,
.online .personanameandstatus_gameName_2wpap.personanameandstatus_richPresenceLabel_1k82N a:visited.GamepadMode,
.GamepadMode .online .personanameandstatus_gameName_2wpap.personanameandstatus_richPresenceLabel_1k82N a:visited {
  color: var(--ctp-teal);          
}
.awayOrSnooze.online .personanameandstatus_richPresenceLabel_1k82N.GamepadMode, .GamepadMode .awayOrSnooze.online .personanameandstatus_richPresenceLabel_1k82N, .awayOrSnooze.online .personanameandstatus_gameName_2wpap.personanameandstatus_richPresenceLabel_1k82N a.GamepadMode, .GamepadMode .awayOrSnooze.online .personanameandstatus_gameName_2wpap.personanameandstatus_richPresenceLabel_1k82N a, .awayOrSnooze.online .personanameandstatus_gameName_2wpap.personanameandstatus_richPresenceLabel_1k82N a:hover.GamepadMode, .GamepadMode .awayOrSnooze.online .personanameandstatus_gameName_2wpap.personanameandstatus_richPresenceLabel_1k82N a:hover, .awayOrSnooze.online .personanameandstatus_gameName_2wpap.personanameandstatus_richPresenceLabel_1k82N a:active.GamepadMode, .GamepadMode .awayOrSnooze.online .personanameandstatus_gameName_2wpap.personanameandstatus_richPresenceLabel_1k82N a:active, .awayOrSnooze.online .personanameandstatus_gameName_2wpap.personanameandstatus_richPresenceLabel_1k82N a:visited.GamepadMode, .GamepadMode .awayOrSnooze.online .personanameandstatus_gameName_2wpap.personanameandstatus_richPresenceLabel_1k82N a:visited {
  color: var(--ctp-blue);
}
.online .steamavatar_avatarStatus_1yIzy.GamepadMode, .GamepadMode .online .steamavatar_avatarStatus_1yIzy {
  background: var(--ctp-accent-color); 
}
.ingame .steamavatar_avatarStatus_1yIzy.GamepadMode, .GamepadMode .ingame .steamavatar_avatarStatus_1yIzy {
  background: var(--ctp-green);
}
.ingame .personanameandstatus_gameName_2wpap.personanameandstatus_richPresenceLabel_1k82N.GamepadMode, 
.GamepadMode .ingame .personanameandstatus_gameName_2wpap.personanameandstatus_richPresenceLabel_1k82N, 
.ingame .personanameandstatus_gameName_2wpap.personanameandstatus_richPresenceLabel_1k82N a.GamepadMode, 
.GamepadMode .ingame .personanameandstatus_gameName_2wpap.personanameandstatus_richPresenceLabel_1k82N a, 
.ingame .personanameandstatus_gameName_2wpap.personanameandstatus_richPresenceLabel_1k82N a:hover.GamepadMode, 
.GamepadMode .ingame .personanameandstatus_gameName_2wpap.personanameandstatus_richPresenceLabel_1k82N a:hover, 
.ingame .personanameandstatus_gameName_2wpap.personanameandstatus_richPresenceLabel_1k82N a:active.GamepadMode, 
.GamepadMode .ingame .personanameandstatus_gameName_2wpap.personanameandstatus_richPresenceLabel_1k82N a:active, 
.ingame .personanameandstatus_gameName_2wpap.personanameandstatus_richPresenceLabel_1k82N a:visited.GamepadMode, 
.GamepadMode .ingame .personanameandstatus_gameName_2wpap.personanameandstatus_richPresenceLabel_1k82N a:visited, 
.ingame.personanameandstatus_twoLine_27M2G .personanameandstatus_richPresenceLabel_1k82N.GamepadMode, 
.GamepadMode .ingame.personanameandstatus_twoLine_27M2G .personanameandstatus_richPresenceLabel_1k82N {
  color: var(--ctp-green);
}

/* battery */
.header_BatteryIcon_1_6kL svg svg rect,
.quickaccesscontrols_BatteryIcon_39aNh svg svg rect {
  fill: var(--ctp-green);
  color: var(--ctp-base);
}
.header_HeaderItem_2HnVd.header_BatteryIcon_1_6kL {
  color: var(--ctp-text);
}

/*
LIBRARY
*/

.gamepadlibrary_GamepadLibrary_ZBBhe {
  background: var(--ctp-base);
}
.steamdeckcompatfilter_CompatFilterDialog_21qvB {
  background: var(--ctp-base);
}
.allcollections_Collection_3IWn- {
  background: var(--ctp-base);
}
 .gamepadtabbedpage_Tab_3eEbS.gpfocus .gamepadtabbedpage_TabCount_1ui4I {
  color: var(--ctp-base);
}
.gamepadtabbedpage_TabCount_1ui4I {
  color: var(--ctp-text);
}
.BasicUI .appdetailsplaysection_MenuButton_3qDWQ.Focusable:focus,
.appactionbutton_ShutdownAppButton_1WVYD.gpfocus {
  background-color: var(--ctp-accent-color);
  color: var(--ctp-base);
}

/*
GAME DETAILS
*/

.basicappdetailssectionstyler_AppDetailsRoot_3fp5y {
  background: var(--ctp-base) !important;
}
.BasicUI .appdetailsplaysection_PlayBarDetailLabel_2TYVG,
.BasicUI .appdetailsplaysection_LastPlayed_3pS8k .appdetailsplaysection_LastPlayedInfo_1nfJN,
.BasicUI .appdetailssectionheader_Label_1SQ30 .appdetailssectionheader_LabelText_3i0ko {
  color: var(--ctp-text);
}
.BasicUI .appdetailsplaysection_PlayBarLabel_34lrt {
  color: var(--ctp-subtext1);
}
.DeckVerifiedModalDialogClient .DialogContent,
.DeckVerifiedModalDialog .DialogContent {
  background: var(--ctp-base);
}
.BasicUI .appactionbutton_Green_3cI5T .appactionbutton_ButtonChild_2AzIX.Focusable:focus,
.BasicUI .appactionbutton_Green_3cI5T .appactionbutton_ButtonChild_2AzIX.Focusable:hover {
  background: var(--ctp-green);
  color: var(--ctp-base);  
}
.BasicUI .appactionbutton_Green_3cI5T .appactionbutton_ButtonChild_2AzIX.Focusable:focus .appactionbutton_ButtonText_33cnX,
.BasicUI .appactionbutton_Green_3cI5T .appactionbutton_ButtonChild_2AzIX.Focusable:hover .appactionbutton_ButtonText_33cnX {
  color: var(--ctp-base);
}
.BasicUI .appactionbutton_Green_3cI5T .appactionbutton_ButtonChild_2AzIX {
  background: var(--ctp-overlay0);
}
.BasicUI .appactionbutton_ButtonChild_2AzIX.Focusable:focus {
  background: var(--ctp-blue);
  color: var(--ctp-base);
}
.BasicUI .appactionbutton_ButtonChild_2AzIX.Focusable:focus .appactionbutton_ButtonText_33cnX {
  color: var(--ctp-base);
}
.appdetailsfriendssection_FriendsPlayingNowBadge_38sNQ {
  background: var(--ctp-green) !important;
  color: var(--ctp-base);
}
.appdetailsfriendssection_FriendsSectionPlayingNow_fPAoc .appdetailsfriendssection_PlayingNowBody_17fER {
  background: var(--ctp-surface0);
}
.BasicUI .appdetailsplaysection_DetailsProgressContainer_25YVD .appdetailsplaysection_DetailsProgressBar_1FnTq {
  background: var(--ctp-blue);
}
.BasicUI .spotlightgameplaysummary_SummaryCarouselContainer_wgbDI {
  background: var(--ctp-surface0);
}
.BasicUI .appactivityday_Event_UVeN0 .appactivityday_EventHeadline_QCKBq {
  background: var(--ctp-mantle);
}
.appdetailsgameinfopanel_DeckVerifiedInfo_IIJei {
  background: var(--ctp-surface0);  
}
.appdetailsgameinfopanel_DeckVerifiedInfo_IIJei .appdetailsgameinfopanel_Details_3sfpA {
  background: var(--ctp-overlay0);
}
.BasicUI .appdetailsprimarylinkssection_Anchor_DY4_w {
  background: var(--ctp-overlay0);
}
.BasicUI .appdetailssection_Highlight_38t1m {
  background: var(--ctp-mantle);
}
.BasicUI .appdetailsachievementssection_AchievementProgressContainer_3ns91 {
  background: var(--ctp-crust);
}
.BasicUI .appdetailsachievementssection_AchievementProgressContainer_3ns91 .appdetailsachievementssection_AchievementProgress_3Rm36 {
  background: var(--ctp-blue);
}
.appdetailsachievementssection_AchievementCarouselItem_mbFSn.appdetailsachievementssection_Detailed_3KGi6 {
  background: var(--ctp-overlay0);
}
.BasicUI .appdetailssection_AppDetailsSectionContainer_31ptF.appdetailssection_RightColumnSection_3KfxI {
  background: var(--ctp-surface0);
}
.BasicUI .appactivityday_Event_UVeN0 .appactivityday_EventBody_NEMXh {
  background: var(--ctp-surface0);
}
.appactivityday_PartnerEventMediumImage_Container_1HZy7 {
  background: var(--ctp-surface0);
}
.BasicUI .posttextentry_PostTextEntry_3x31A .posttextentry_PostTextEntryArea_1JlC2 {
  background: var(--ctp-overlay0);
  color: var(--ctp-base);
}

button.gamepaddialog_Button_1kn70.DialogButton.gpfocus.Primary,
button.gamepaddialog_Button_1kn70.DialogButton:active.Primary,
button.gamepaddialog_Button_1kn70.DialogButton:enabled.gpfocus.Primary,
button.gamepaddialog_Button_1kn70.DialogButton:enabled:active.Primary,
button.gamepaddialog_Button_1kn70.DialogButton:active.gpfocus.Primary,
button.gamepaddialog_Button_1kn70.DialogButton:active:active.Primary,
button.gamepaddialog_Button_1kn70.DialogButton:hover.gpfocus.Primary,
button.gamepaddialog_Button_1kn70.DialogButton:hover:active.Primary,
button.gamepaddialog_Button_1kn70.DialogButton:enabled:active:hover.gpfocus.Primary,
button.gamepaddialog_Button_1kn70.DialogButton:enabled:active:hover:active.Primary {
  background: var(--ctp-blue);
  color: var(--ctp-base);
}

/* protondb */
.protondb-decky-indicator {
  border-radius: 3px;
  color: var(--ctp-base) !important;
}
.protondb-decky-indicator-gold {
  background: var(--ctp-yellow) !important;
}
.protondb-decky-indicator-borked {
  background: var(--ctp-red) !important;
}

/* 
STEAM INPUT
*/

.controllerconfiguratorchoosebinding_TriggerButton_2MjBd.gpfocus,
.controllerconfiguratorchoosebinding_BumperButton_2swvc.gpfocus {
  filter: drop-shadow(0px 0px 10px var(--catppuccin-button-glow));
}
.controllerconfiguratorchoosebinding_SelectButton_3i-XV.gpfocus,
.controllerconfiguratorchoosebinding_StartButton_3s28A.gpfocus {
  filter: drop-shadow(0px 0px 10px var(--catppuccin-button-glow));
}
.controllerconfiguratorchoosebinding_MouseKey_19SMS.gpfocus {
  filter: drop-shadow(0px 0px 10px var(--catppuccin-button-glow));
}
.controllerconfiguratorchoosebinding_KeyboardKey_NoRFS.gpfocus {
  filter: drop-shadow(0px 0px 10px var(--catppuccin-button-glow));
}
.controllerconfiguratorchoosebinding_ControllerActionKey_3yP_p.gpfocus {
  filter: drop-shadow(0px 0px 10px var(--catppuccin-button-glow));
}
.controllerconfiguratorchoosebinding_ControllerActionKey_3yP_p.gpfocus {
  filter: drop-shadow(0px 0px 10px var(--catppuccin-button-glow));
}

.controllerconfigurator_TopSection_20sN9 {
  background: var(--ctp-base);
}
.controllerconfigurator_ControllerConfiguratorMain_APY6j {
  background: var(--ctp-base);
}
.controllerconfigurator_BottomSection_3RsRf {
  background: var(--ctp-base);
}
.gamepadpagedsettings_PagedSettingDialog_ContentColumn_3JPle {
  background: var(--ctp-base);
}
.gamepadpagedsettings_PagedSettingsDialog_PageListColumn_2EZ3o {
  background: var(--ctp-base);
}
.gamepadpage_GamepadPage_2FqpD.gamepadpage_DialogBackground_2msTK {
  background: var(--ctp-base);
}
.controllerconfigurator_interstitial_ConfiguratorInterstitialContainer_3FS5u {
  background: var(--ctp-base);
}
.controllerconfiguratorsummary_ControllerConfiguratorSummary_3TvBV {
  background: var(--ctp-base);
}

/* 
FRIENDS & CHAT
*/

/* Get rid of glow */
.SteamDeckChats.gpfocuswithin .chattabs_ChatTab_1WfqA {
  box-shadow: none;
}
.GamepadMode.friendlist.gpfocuswithin .FriendsListSteamDeckTopSection {
  background: var(--ctp-base);
}
.GamepadMode.friendlist {
  background-color: var(--ctp-base);
  background: var(--ctp-base);
}
.GamepadMode.friendlist.gpfocuswithin {
  background-color: var(--ctp-base);
  background: var(--ctp-base);
}
.multiChatDialog.GamepadMode,
.GamepadMode .multiChatDialog {
  background: var(--ctp-base);
}
.multiChatDialog.GamepadMode.gpfocuswithin,
.GamepadMode .multiChatDialog.gpfocuswithin {
  background-color: var(--ctp-base);
  background: var(--ctp-base);
}

/*
DOWNLOADS
*/
.downloads_Active_IbePL.gpfocuswithin .downloads_SectionList_OINnO,
.downloads_Active_IbePL .downloads_SectionList_OINnO:hover {
  background: var(--ctp-surface0);
}
.downloadgraph_HeroAndLogo_3mZ2r
  .downloadgraph_HeroContainer_3WauY
  .downloadgraph_HeroGradient_edQzw {
  background: none;
}
/* Turn backgrounds black */
.downloads_DownloadsPage_1bq4x {
  background: var(--ctp-base);
}
.downloadgraph_HeroAndLogo_3mZ2r.downloadgraph_Empty_pHDI1 {
  background: var(--ctp-base);
}
.downloadgraph_GraphAndStats_3KDkL {
  background: var(--ctp-base);
}
.BasicUI .libraryassetimage_GreyBackground_2E7G8 {
  background: var(--ctp-base);
}
.downloads_SectionItem_1VNuY.downloads_Active_IbePL {
  background: var(--ctp-base);
}
.downloadgraph_DownloadGraph_1BxZD .downloadgraph_GraphLine_3H2JW {
  stroke: var(--ctp-green);
}
.downloadgraph_DownloadGraph_1BxZD .downloadgraph_DiskPoint_10Cul,
.downloadgraph_DownloadGraphLegend_hGZq4 .downloadgraph_Disk_1QHr4 {
  background-color: var(--ctp-green);
}
.downloadgraph_DownloadGraph_1BxZD .downloadgraph_GraphBarDownload_OS07N,
.downloadgraph_DownloadGraph_1BxZD .downloadgraph_GraphBarWrapper_gpPxC,
.downloadgraph_DownloadGraphLegend_hGZq4 .downloadgraph_Network_33jqE svg {
  color: var(--ctp-blue);
}
.downloads_TopBar_SEmVp {
  background: var(--ctp-blue);
}
.downloads_SectionItemWrapper_21P7c.gpfocus .downloads_SectionItem_1VNuY .downloads_Button_3oavR.DialogButton:enabled svg {
  color: var(--ctp-text);
}
.downloads_SectionItemWrapper_21P7c .Panel .Focusable .gpfocus .gpfocuswithin {
  background-color: var(--ctp-surface0);
}

/*
SETTINGS
*/

.BasicUI .librarysettings_LibrarySettings_2nsOY {
  background: var(--ctp-base);
}
.BasicUI .contentmanagement_ContentManagement_3wk64 {
  background: var(--ctp-base);
}
.customizationsettings_Checkmark_2XRQA,
.networksettings_Checkmark_x5D0R {
  color: var(--ctp-green);
}
.gamepadslider_SliderTrack_Mq25N {
  --left-track-color: var(--ctp-accent-color);
}
.gamepaddialog_ToggleRail_2JtC3 {
  background: var(--ctp-surface0) !important;
}
.gamepadslider_SliderTrack_Mq25N, .gamepadslider_SliderNotchTick_Fv1Ht {
  background-color: var(--ctp-mantle);
}
.gamepadslider_SliderNotchTick_Fv1Ht.gamepadslider_TickActive_1gnUV {
  background: var(--ctp-accent-color) !important;
}
.gamepadslider_SliderNotchLabel_u_sH1 {
  color: var(--ctp-subtext1);
}

/*
QUICK ACCESS
*/
.quickaccessmenu_HeaderContainer_3k5MH,
.footer_BasicFooter_3T1iF.footer_QuickAccessFooter_VdbQ_ {
  background: var(--ctp-crust);
}
.quickaccessmenu_Tabs_3Ag1w {
  background: var(--ctp-mantle);
  color: var(--ctp-subtext0);
}
.quickaccessmenu_HeaderAndFooterVisible_2m0zl .quickaccessmenu_Menu_1gJzx::before,
.quickaccessmenu_Tabs_3Ag1w::after,
.quickaccessmenu_QuickAccessMenu_V0cr- {
  background: var(--ctp-base);
}
.quickaccessmenu_Tab_1S76C {
  background-color: var(--ctp-mantle);
  color: var(--ctp-subtext0);
}
.quickaccessmenu_Tab_1S76C.quickaccessmenu_Selected_2QHMu.gpfocus,
.quickaccessmenu_Tab_1S76C.quickaccessmenu_Selected_2QHMu {
  background-color: var(--ctp-surface0) !important;
  color: var(--ctp-text);
}
.quickaccessmenu_KeyboardButton_1RN_U {
  border: none;
}
.quickaccessmenu_Title_34nl5 {
  background: var(--ctp-base);
  color: var(--ctp-text);
  box-shadow: none;
}
.GamepadMode.friendlist {
  background: var(--ctp-base);
}
.GamepadMode.friendlist .FriendsListSteamDeckTabs {
  background-color: var(--ctp-base);
}
.ingame.awayOrSnooze .personanameandstatus_richPresenceLabel_1k82N.GamepadMode,
.GamepadMode .ingame.awayOrSnooze .personanameandstatus_richPresenceLabel_1k82N,
.ingame .personanameandstatus_richPresenceLabel_1k82N.GamepadMode,
.GamepadMode .ingame .personanameandstatus_richPresenceLabel_1k82N,
.ingame .personanameandstatus_richPresenceLabel_1k82N a.GamepadMode,
.GamepadMode .ingame .personanameandstatus_richPresenceLabel_1k82N a,
.ingame .personanameandstatus_richPresenceLabel_1k82N a:hover.GamepadMode,
.GamepadMode .ingame .personanameandstatus_richPresenceLabel_1k82N a:hover,
.ingame .personanameandstatus_richPresenceLabel_1k82N a:active.GamepadMode,
.GamepadMode .ingame .personanameandstatus_richPresenceLabel_1k82N a:active,
.ingame .personanameandstatus_richPresenceLabel_1k82N a:visited.GamepadMode,
.GamepadMode .ingame .personanameandstatus_richPresenceLabel_1k82N a:visited,
.friendGroup.gameGroup:not(.OtherGamesGroup) .SteamPlayerGroupFooter.lastInGroup.GamepadMode .count,
.GamepadMode .friendGroup.gameGroup:not(.OtherGamesGroup) .SteamPlayerGroupFooter.lastInGroup .count,
.friendGroup.gameGroup:not(.OtherGamesGroup) .SteamPlayerGroupFooter.lastInGroup.GamepadMode .SteamPlayerGroupFooterLabel,
.GamepadMode .friendGroup.gameGroup:not(.OtherGamesGroup) .SteamPlayerGroupFooter.lastInGroup .SteamPlayerGroupFooterLabel {
  color: var(--ctp-green);
}
.SteamPlayerGroupLines {
  border-color: var(--ctp-green);
}
.online .personanameandstatus_playerName_r62qz.GamepadMode,
.GamepadMode .online .personanameandstatus_playerName_r62qz {
  color: var(--ctp-blue);
}
.awayOrSnooze.online .personanameandstatus_playerName_r62qz.GamepadMode,
.GamepadMode .awayOrSnooze.online .personanameandstatus_playerName_r62qz {
  color: var(--ctp-blue);
}
.quickaccesscontrols_LowBattery_2YBbx {
  background: var(--ctp-yellow);
}
.gamepadslider_SliderControlWithIcon_2M8Pt {
  color: var(--ctp-text);
}
.gamepaddialog_Field_S-_La.gamepaddialog_WithBottomSeparatorStandard_3s1Rk::after {
  background: var(--ctp-surface0) !important;
}
/* settings */
.quickaccesscontrols_Text_1hJkB {
  color: var(--ctp-text);
}
/* performance */
.quickaccesscontrols_BatteryIcon_39aNh > div,
.quickaccesscontrols_BatteryPercentageLabel_3Rxxi,
.quickaccesscontrols_BatteryDetailsLabels_3M39z .quickaccesscontrols_BatteryProjectedValue_1mTo6,
.perf_PerfProfileInfo_1UqP6 .perf_Heading_23Yxa .perf_Text_3gY4m {
  color: var(--ctp-text) !important;
}
.quickaccesscontrols_BatteryDetailsLabels_3M39z .quickaccesscontrols_BatteryProjectedLabel_4hS40,
.perf_PerfProfileInfo_1UqP6 .perf_SubHeading_2C4wP .perf_Text_3gY4m {
  color: var(--ctp-subtext0);
}

/*
OTHER
*/

/* Navigation */
.mainmenu_Menu_23IDi {
  background: var(--ctp-base);
}

.mainmenu_Item_2w9Tp .mainmenu_ActiveDot_1uLVH {
  background: var(--ctp-accent-color);
}
.mainmenu_Item_2w9Tp.gpfocus,
.mainmenu_Item_2w9Tp.mainmenu_Active_10bq5:focus {
  background: var(--ctp-surface0) !important;
}

.gamepadcontextmenu_contextMenuItem_1sdvo.gamepadcontextmenu_Focused_X813r.gamepadcontextmenu_Destructive_3aIFv,
.gamepadcontextmenu_contextMenuItem_1sdvo.gamepadcontextmenu_Focused_X813r.Stop,
.gamepadcontextmenu_contextMenuItem_1sdvo.gamepadcontextmenu_Focused_X813r.Cancel {
  background: var(--ctp-red);
  color: var(--ctp-base);
}
.gamepaddialog_FieldLabel_3b0U- {
  color: var(--ctp-text);
}
.gamepaddialog_FieldDescription_2OJfk {
  color: var(--ctp-subtext1);
}
button.gamepaddialog_Button_1kn70.DialogButton,
button.gamepaddialog_Button_1kn70.DialogButton.Primary, 
button.gamepaddialog_Button_1kn70.DialogButton:enabled, 
button.gamepaddialog_Button_1kn70.DialogButton:enabled.Primary, 
button.gamepaddialog_Button_1kn70.DialogButton:active, 
button.gamepaddialog_Button_1kn70.DialogButton:active.Primary, 
button.gamepaddialog_Button_1kn70.DialogButton:hover, 
button.gamepaddialog_Button_1kn70.DialogButton:hover.Primary, 
button.gamepaddialog_Button_1kn70.DialogButton:enabled:active:hover,
button.gamepaddialog_Button_1kn70.DialogButton:enabled:active:hover.Primary {
  background: var(--ctp-surface0) !important;
  color: var(--ctp-text);
}

button.gamepaddialog_Button_1kn70.DialogButton.gpfocus, 
button.gamepaddialog_Button_1kn70.DialogButton:active, 
button.gamepaddialog_Button_1kn70.DialogButton:enabled.gpfocus, 
button.gamepaddialog_Button_1kn70.DialogButton:enabled:active, 
button.gamepaddialog_Button_1kn70.DialogButton:active.gpfocus, 
button.gamepaddialog_Button_1kn70.DialogButton:active:active, 
button.gamepaddialog_Button_1kn70.DialogButton:hover.gpfocus, 
button.gamepaddialog_Button_1kn70.DialogButton:hover:active, 
button.gamepaddialog_Button_1kn70.DialogButton:enabled:active:hover.gpfocus, 
button.gamepaddialog_Button_1kn70.DialogButton:enabled:active:hover:active {
  background: var(--ctp-accent-color) !important;
  color: var(--ctp-base);
}

.basiccontextmenu_contextMenuItem_3PqLg {
  background: var(--ctp-mantle);
}
.basiccontextmenu_contextMenuItem_3PqLg.basiccontextmenu_Focused_3t3Zg {
  background: var(--ctp-accent-color);
  color: var(--ctp-base);
}
/* Power menu */
.gamepadui_GamepadDialogOverlay_34Euf .ModalOverlayBackground {
  background: var(--ctp-base);
}

/* Search */
.gamepadsearch_GamepadSearch_P_AlE {
  background: var(--ctp-base);
}
/* Media upload */
.gamepaddialog_ModalPosition_30VHl > .gamepaddialog_GamepadDialogContent_3joNk {
  background: var(--ctp-base);
}
/* Lock screen */
.lockscreen_Container_3rFFU {
  background: var(--ctp-base);
}
/* Footer */
.footer_BasicFooter_3T1iF {
  background: var(--ctp-crust);
}
.gamepaddialog_Field_S-_La.gamepaddialog_HighlightOnFocus_wE4V6.gpfocus,
.gamepaddialog_Field_S-_La.gamepaddialog_HighlightOnFocus_wE4V6.gpfocuswithin {
  background: var(--ctp-surface0) !important;
}
.gamepaddialog_ToggleRail_2JtC3::before {
  background: var(--ctp-accent-color);
}
.actionbuttonlegenditem_ActionButtonLegend_Mbyhb .actionbuttonlegenditem_ActionButtonLabel_31Jnn {
  color: var(--ctp-text);
}
/* Settings Menu Fixes */
.contentmanagement_DriveUsageGames_22KCi {
  background-color: var(--ctp-blue);
}
.contentmanagement_DriveUsageDLC_2W7tN {
  background-color: var(--ctp-lavender);
}
.contentmanagement_DriveUsageWorkshop_1W6jW {
  background-color: var(--ctp-green);
}
.contentmanagement_DriveUsageUpdates_3mzew {
  background-color: var(--ctp-red);
}
.contentmanagement_DriveUsageOther_1SwNA {
  background-color: var(--ctp-yellow);
}
.contentmanagement_DriveUsageIndicator_1EubJ, .contentmanagement_IsSelected_3VQeL, .contentmanagement_DriveSettingsButton_1WKUO {
  background-color: var(--ctp-surface0);
}
.contentmanagement_IsSelected_3VQeL .contentmanagement_DriveName_1rihl, .contentmanagement_IsSelected_3VQeL .contentmanagement_DriveSize_5bG9I, .contentmanagement_IsSelected_3VQeL svg {
  color: var(--ctp-subtext0);
}
.contentmanagement_DriveSettingsButton_1WKUO {
  color: var(--ctp-subtext0);
}
.gamepaddialog_GamepadDialogContent_3joNk .DialogHeader {
  color: var(--ctp-text);
}
.notificationssettings_ToggleHeader_33Q-M.notificationssettings_ToggleHeader_33Q-M {
  color: var(--ctp-subtext0);
}
.radio_Group_2qYC3 {
  background-color: var(--ctp-base);
  box-shadow: none;
}
.radio_Button_3lwcR.radio_Active_3ZBFo, .radio_Button_3lwcR.radio_Active_3ZBFo:hover {
  background-color: var(--ctp-accent-color);
  color: var(--ctp-base);
}
.radio_Button_3lwcR {
  background-color: var(--ctp-surface0);
  color: var(--ctp-text);
}
.BasicUI .gamepaddialog_GamepadDialogContent_3joNk .DialogSubHeader {
  color: var(--ctp-text);
}
.notificationssettings_FriendsDescription_3fPiC.notificationssettings_FriendsDescription_3fPiC {
  color: var(--ctp-subtext0);
}
.gamepaddialog_GamepadDialogContent_3joNk .DialogBodyText {
  color: var(--ctp-text);
}
.notificationssettings_NotificationDescription_1ifM6 {
  color: var(--ctp-subtext0);
}
.BasicUI .gamepaddialog_GamepadDialogContent_3joNk .DialogControlsSectionHeader {
  color: var(--ctp-text);
}
.gamepaddialog_Field_S-_La.gamepaddialog_HighlightOnFocus_wE4V6.gpfocus .gamepaddialog_FieldLabel_3b0U-, .gamepaddialog_Field_S-_La.gamepaddialog_HighlightOnFocus_wE4V6.gpfocuswithin .gamepaddialog_FieldLabel_3b0U- {
  color: var(--ctp-text);
}
.gamepaddialog_Field_S-_La.gamepaddialog_HighlightOnFocus_wE4V6.gpfocus .gamepaddialog_FieldDescription_2OJfk, .gamepaddialog_Field_S-_La.gamepaddialog_HighlightOnFocus_wE4V6.gpfocuswithin .gamepaddialog_FieldDescription_2OJfk {
  color: var(--ctp-text);
}
.gamepaddialog_Toggle_24G4g.gpfocus:after {
  background-color: var(--ctp-accent-color);
}
.gamepaddialog_LabelFieldValue_5Mylh {
  color: var(--ctp-subtext0);
}
.gamepadpagedsettings_PagedSettingsDialog_PageListItem_1ix7r.gamepadpagedsettings_Active_22LLB, .gamepadpagedsettings_PagedSettingsDialog_PageListItem_1ix7r:focus {
  color: var(--ctp-base) !important;
  background-color: var(--ctp-accent-color) !important;
}
.gamepadpagedsettings_PagedSettingsDialog_PageListItem_1ix7r {
  color: var(--ctp-text);
}
.gamepadui_BasicHome_3LYP1 {
  color: var(--ctp-subtext0);
}
.contentmanagement_AppsGrid_2n6FN .contentmanagement_AppHeader_3_uaa, .sortingdropdowncontrolbutton_BasicHomeDropDownControlButton_17SQW.sortingdropdowncontrolbutton_SortingDropDownControlButton_2ddeJ {
  color: var(--ctp-text);
}
.contentmanagement_InstallFolder_12aBP .contentmanagement_FolderInfo_2ylO_ svg {
  color: var(--ctp-yellow);
}
.contentmanagement_InstallFolder_12aBP {
  color: var(--ctp-yellow);
}
.contentmanagement_DriveName_1rihl, .contentmanagement_DriveSize_5bG9I {
  color: inherit !important;
}
.BasicUI .contentmanagement_InstallFolder_12aBP:focus, .sortingdropdowncontrolbutton_BasicHomeDropDownControlButton_17SQW:focus {
  background-color: var(--ctp-accent-color);
  color: var(--ctp-base);
}
.contentmanagement_AppsGrid_2n6FN .contentmanagement_AppBodyLeft_d9dlN .contentmanagement_AppName_YxhO6, .contentmanagement_AppsGrid_2n6FN .contentmanagement_AppBodyRight_3vHX3 .contentmanagement_AppSize_mohK9 {
  color: var(--ctp-text);
}
.BasicUI .contentmanagement_AppsGrid_2n6FN .contentmanagement_AppBodyLeft_d9dlN .contentmanagement_AppInfo__g4ce .contentmanagement_AppUsageValue_2B8dj {
  color: var(--ctp-subtext0);
}
.contentmanagement_AppsGrid_2n6FN .contentmanagement_AppBodyLeft_d9dlN .contentmanagement_AppInfo__g4ce svg {
  color: var(--ctp-subtext0);
}
.BasicUI .contentmanagement_AppsGrid_2n6FN .contentmanagement_AppBody_2RCSU:focus {
  background-color: var(--ctp-surface0);
}
.contentmanagement_DriveUsageText_1DFCG, .contentmanagement_DriveUsageNumber_181OY {
  color: var(--ctp-text);
}
.contentmanagement_DriveUsageNumber_181OY, .contentmanagement_AppsGrid_2n6FN .contentmanagement_AppHeader_3_uaa .contentmanagement_AppHeaderValue_3X3BB {
  color: var(--ctp-subtext0);
}
.contentmanagement_LibraryContent_ybEU2 .contentmanagement_DriveUsage_1LvKJ .contentmanagement_DriveName_1rihl {
  color: var(--ctp-text) !important;
}
.contentmanagement_DriveSize_5bG9I {
  color: var(--ctp-subtext0) !important;
}
.BasicUI .contentmanagement_InstallFolder_12aBP:focus .contentmanagement_DriveName_1rihl, .BasicUI .contentmanagement_InstallFolder_12aBP:focus .contentmanagement_DriveSize_5bG9I, .BasicUI .contentmanagement_InstallFolder_12aBP:focus svg {
  color: var(--ctp-base) !important;
}
.gamepadcontextmenu_contextMenuItem_1sdvo.gamepadcontextmenu_Focused_X813r {
  background-color: var(--ctp-accent-color) !important;
  color: var(--ctp-base) !important;
}
.gamepadcontextmenu_contextMenuItem_1sdvo {
  background-color: var(--ctp-base);
  color: var(--ctp-text);
}
.gamepadcontextmenu_contextMenuItem_1sdvo.gamepadcontextmenu_Selected_1PnET {
  background-color: var(--ctp-surface0);
  color: var(--ctp-text);
}
.familysettings_UserListHeader_2LOrs {
  color: var(--ctp-text);
}
.gamepaddialog_Field_S-_La.gpfocuswithin .gamepaddialog_LabelFieldValue_5Mylh {
  color: var(--ctp-subtext0);
}
.dropdownlabel_DropDownLabelTitle_uDBZW, .dropdownlabel_DropDownLabelTitle_uDBZW, .dropdownlabel_DropDownLabelUpperDescription_2_JN3, .dropdownlabel_DropDownLabelDescription_1JPcb {
    color: var(--ctp-subtext0);
}
.gpfocus .dropdownlabel_DropDownLabelUpperDescription_2_JN3, .gpfocus .dropdownlabel_DropDownLabelTitle_uDBZW, .gpfocus .dropdownlabel_DropDownLabelDescription_1JPcb {
color: var(--ctp-base);
}
.controllersettings_NintendoSwitchLayoutToggle_3Q8Vc .controllersettings_NintendoSwitchLayoutToggleDesc_3J9Od, .customizationsettings_StartupMoviesSelectionDesc_gfecK {
  color: var(--ctp-subtext0);
}
.gamepaddialog_GamepadDialogContent_3joNk .DialogControlsSectionHeader {
  border-color: var(--ctp-surface0);
}

/* Quick Access Fix */
.quickaccessmenu_Container_3DHXr.quickaccessmenu_Open_-6ESh {
  color: var(--ctp-subtext0);
}
#QuickAccess-Menu .GamepadMode.friendlist .TabPanelHeader {
  color: var(--ctp-text);
}

/* Main Menu Fix */
.mainmenu_ItemIcon_3xZ3Z, .mainmenu_ItemLabel_3x-ZK {
  color: var(--ctp-text) !important;
}

/* Whats New Fix */
.gamecapsule_PriceCtn_2E-mS {
  color: var(--ctp-base);
  font-weight: 500;
}
.BasicUI .homestorecarousel_StoreCarouselCtn_3zVCV .homestorecarousel_Header_xpRXv, .BasicUI .marketingmessages_MarketingMessages_jdr42 .marketingmessages_Header_1QCdV, .BasicUI .recentlycompleted_RecentlyCompleted_3fDIR .recentlycompleted_Header_NhBU2 {
  color: var(--ctp-text);
}
.gamepadhomewhatsnew_GameIconAndName_1jXSh .gamepadhomewhatsnew_GameName_3H9W-, .localdateandtime_ShortDateAndTime_4K3Bl {
  color: var(--ctp-subtext0);
}
.localdateandtime_RightSideTitles_3sPON {
  color: var(--ctp-subtext1);
}
.localdateandtime_ActiveEvent_2ZcVE .localdateandtime_ActiveEventCallOut__y2DQ {
  background-color: var(--ctp-green);
}
.gamepadhomewhatsnew_EventPreviewOuterWrapper_10b1V.gamepadhomewhatsnew_OuterWrapper_3DpEz:hover .gamepadhomewhatsnew_EventInfo_6TGe7, .gpfocus .gamepadhomewhatsnew_EventInfo_6TGe7 {
  background-color: var(surface1);
}
.recentlycompleted_GameIconAndName_2RTo4 .recentlycompleted_GameName_1EIQL {
  color: var(--ctp-text);
}
.recentlycompleted_DownloadInfo_1wLpm .recentlycompleted_Bytes_TH3M8 {
  color: var(--ctp-subtext1);
}
.recentlycompleted_DownloadInfo_1wLpm {
  color: var(--ctp-subtext0);
}