img[src="/steaminputglyphs/shared_color_button_a.svg"] {
  filter: var(--ctp-text-filter);
}
img[src="/steaminputglyphs/shared_color_button_b.svg"] {
  filter: var(--ctp-text-filter);
}
img[src="/steaminputglyphs/shared_color_button_x.svg"] {
  filter: var(--ctp-text-filter);
}
img[src="/steaminputglyphs/shared_color_button_y.svg"] {
  filter: var(--ctp-text-filter);
}
